<div class="smv-block-content smv-featured-categories">
    <div class="smv-wrap">
        <div class="smv-title-block">
            <h2>Featured Categories</h2>
        </div>
        <div class="smv-wrap-cate">
            <div class="smv-cate-item">
                <div class="smv-wrap-item">
                    <div class="smv-cate-img">
                        <img src="../../../assets/images/static/category-1.jpg" alt="" />
                    </div>
                    <div class="smv-cate-name">
                        <h3>4WD</h3>
                    </div>
                    <a class="smv-cursor-arrow">
                    </a>
                    <a routerLink="/category/4x4" class="smv-overlay"></a>
                </div>
            </div>
            <div class="smv-cate-item">
                <div class="smv-wrap-item">
                    <div class="smv-cate-img">
                        <img src="../../../assets/images/static/category-2.jpg" alt="" />
                    </div>
                    <div class="smv-cate-name">
                        <h3>Accessories</h3>
                    </div>
                    <a class="smv-cursor-arrow">
                    </a>
                    <a routerLink="/category/accessories" class="smv-overlay"></a>
                </div>
            </div>
            <div class="smv-cate-item">
                <div class="smv-wrap-item">
                    <div class="smv-cate-img">
                        <img src="../../../assets/images/static/category-3.jpg" alt="" />
                    </div>
                    <div class="smv-cate-name">
                        <h3>Electrical Products</h3>
                    </div>
                    <a class="smv-cursor-arrow">
                    </a>
                    <a routerLink="/category/electrical" class="smv-overlay"></a>
                </div>
            </div>
            <div class="smv-cate-item">
                <div class="smv-wrap-item">
                    <div class="smv-cate-img">
                        <img src="../../../assets/images/static/category-4.jpg" alt="" />
                    </div>
                    <div class="smv-cate-name">
                        <h3>Replacement Parts</h3>
                    </div>
                    <a class="smv-cursor-arrow">
                    </a>
                    <a routerLink="/category/replacement-parts" class="smv-overlay"></a>
                </div>
            </div>
        </div>
    </div>
</div>