/* begin style category */

.smv-wrap-cate {
    margin: 0 -18px;
}

.smv-wrap-cate .smv-cate-item {
    width: 25%;
    float: left;
    margin-bottom: 20px;
}

.smv-wrap-cate .smv-cate-item .smv-wrap-item {
    margin: 0 18px;
    position: relative;
}

.smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-img {
    border: 1px solid #e5e5e5;
}

.smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-img img {
    width: 100%;
}

.smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-name {
    background: #f1f1f1;
    color: #231f20;
    margin-bottom: 0;
    padding: 3px 40px 3px 15px;
    height: 50px;
    overflow: hidden;
}

.smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-name h3 {
    color: #231f20;
    display: table-cell;
    font-family: "RalewayMedium", sans-serif;
    font-size: 20px;
    line-height: 25px;
    vertical-align: middle;
    height: 50px;
}

.smv-wrap-cate .smv-cate-item .smv-wrap-item a.smv-cursor-arrow {
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 23px;
    height: 23px;
    z-index: 1;
    background-image: url(../../../assets/images/css/MH-bg.png);
    background-position: 0 -232px;
    background-repeat: no-repeat;
}

.smv-wrap-cate .smv-cate-item .smv-wrap-item a.smv-overlay {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* end style category */