<div class="smv-block-content smv-tags">
    <div class="smv-wrap">
        <div class="smv-wrap-tags">
            <div class="smv-tags-item">
                <div class="smv-wrap-item">
                    <p>Australia <span>Delivery</span></p>
                    <p><img src="../../../assets/images/static/MH-icon-tag-australia.png" alt=""></p>
                </div>
            </div>
            <div class="smv-tags-item">
                <div class="smv-wrap-item">
                    <p>100% Satisfaction <span>Guarantee</span></p>
                    <p><img src="../../../assets/images/static/MH-icon-tag-satisfaction.png" alt=""></p>
                </div>
            </div>
            <div class="smv-tags-item">
                <div class="smv-wrap-item">
                    <p>Genuine <span>Genuine Warranty</span></p>
                    <p><img src="../../../assets/images/static/MH-icon-tag-genuine.png" alt=""></p>
                </div>
            </div>
            <div class="smv-tags-item">
                <div class="smv-wrap-item">
                    <p>Local <span>Support</span></p>
                    <p><img src="../../../assets/images/static/MH-icon-tag-local.png" alt=""></p>
                </div>
            </div>
        </div>
    </div>
</div>