/* begin style newsletter */

.smv-newsletter {
    background: #4a525f;
    padding-top: 25px;
}

.smv-newsletter .smv-title-newsletter {
    float: left;
    padding-bottom: 25px;
}

.smv-newsletter .smv-title-newsletter h3 {
    color: #fff;
    font-family: "RalewayExtrabold", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 0;
    background-image: url(../../assets/images/css/MH-bg.png);
    background-position: 0 -271px;
    background-repeat: no-repeat;
    padding: 0 15px 0 53px;
}

.smv-newsletter .smv-title-newsletter h3 span {
    color: #fff;
    font-family: "Arial";
    font-size: 14px;
    line-height: 17px;
    display: block;
    text-transform: none;
}

.smv-newsletter .smv-form-newsletter {
    float: left;
    padding-bottom: 25px;
}

.smv-newsletter .smv-form-newsletter form input {
    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #4a525f;
    font-family: "Arial";
    font-size: 14px;
    height: 40px;
    line-height: 18px;
    width: 268px;
    float: left;
}

.smv-newsletter .smv-form-newsletter form button {
    color: #fff;
    font-family: "RalewayBold", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background: #ef6013;
    border: 0 none;
    border-radius: 0;
    height: 40px;
    line-height: 20px;
    padding: 0 13px;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}

.smv-newsletter .smv-form-newsletter form button:hover {
    background: #d6460d;
}

.smv-newsletter .smv-follow {
    float: right;
    padding-bottom: 25px;
}

.smv-newsletter .smv-follow h5 {
    color: #fff;
    float: left;
    font-family: "RalewayExtrabold", sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding-top: 11px;
    text-transform: uppercase;
}

.smv-newsletter .smv-follow ul {
    float: left;
    margin: 0;
    padding-left: 20px;
}

.smv-newsletter .smv-follow ul li {
    float: left;
    height: 40px;
    list-style: outside none none;
    margin: 0 0 0 6px;
    text-align: center;
    width: 40px;
}

.smv-newsletter .smv-follow ul li.smv-face-icon {
    background: #45619d;
}

.smv-newsletter .smv-follow ul li a {
    padding: 8px;
    display: inline-block;
}

.smv-newsletter .smv-follow ul li a i {
    color: #fff;
    font-size: 29px;
}

/* end style newsletter */

/* begin style footer */

#smv-main-footer {
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    float: left;
}

.smv-our-brands+#smv-main-footer {
    margin-top: 0;
}

#smv-footer {
    background: #312f30;
    display: inline-block;
    width: 100%;
    float: left;
}

#smv-footer .smv-cate-item {
    float: left;
    width: 22%;
    margin-bottom: 17px;
    padding: 40px 0 0;
}

#smv-footer .smv-cate-item.smv-category-footer {
    width: 34%;
}

#smv-footer .smv-cate-item.smv-category-footer .smv-wrap-item {
    border-left: 0;
    padding-left: 0;
}

#smv-footer .smv-cate-item.smv-category-footer .smv-wrap-item li {
    width: 50% !important;
}

#smv-footer .smv-cate-item .smv-wrap-item {
    border-left: 1px solid #424242;
    min-height: 252px;
    padding: 0 30px;
    display: inline-block;
}

#smv-footer .smv-cate-item .smv-wrap-item h3.smv-item-title {
    padding-top: 15px;
    color: #fff;
    font-family: "RalewayExtrabold", sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 17px;
    text-transform: uppercase;
}

#smv-footer .smv-cate-item .smv-wrap-item .smv-group-login a {
    background: #ef6013;
    border: 0 none;
    color: #fff;
    display: inline-block;
    font-family: "RalewayBold", sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 13px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#smv-footer .smv-cate-item .smv-wrap-item .smv-group-login a:hover {
    background: #d6460d;
    text-decoration: none;
}

#smv-footer .smv-cate-item .smv-wrap-item .smv-group-login a.smv-login {
    margin-right: 10px;
}

#smv-footer .smv-cate-item .smv-wrap-item ul li {
    margin: 0;
    padding-bottom: 8px;
    float: left;
    width: 100%;
}

#smv-footer .smv-cate-item .smv-wrap-item ul li a {
    color: #ccc;
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
}

#smv-footer .smv-cate-item .smv-wrap-item ul li a:hover {
    color: #999;
    text-decoration: none;
}

#smv-footer .smv-cate-item.smv-accept .smv-wrap-item {
    padding-right: 0;
    float: right;
}

#smv-footer .smv-cate-item.smv-accept .smv-wrap-item li {
    width: auto !important;
    margin: 0 5px 13px 0 !important;
}

.smv-copy-right {
    background: #231f20 none repeat scroll 0 0;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    float: left;
}

.smv-copy-right .smv-footer-copy-left {
    background: #fff;
    float: left;
    padding: 0 5px;
    width: 130px;
}

.smv-copy-right .smv-footer-copy-right {
    display: inline-block;
    float: right;
    padding-top: 10px;
}

.smv-copy-right .smv-footer-copy-right p {
    float: left;
    margin: -2px 0 0;
    padding-right: 15px;
    text-align: right;
}

.smv-copy-right .smv-footer-copy-right p span {
    color: #fff;
    display: block;
    font-family: "Arial";
    font-size: 14px;
    line-height: 21px;
    width: 100%;
}

.smv-copy-right .smv-footer-copy-right a {
    float: right;
}

/* end style footer */