<div class="wrappage">
	<div class="container">
		<div class="img">
			<h1 class="title">sign in</h1>
		</div>
		<div class="content">
			<form [formGroup]="loginForm" (ngSubmit)="login()">
				<div *ngIf="message" class="error error-pass">{{message}}</div>
				<div class="form-group">
					<label for="username" class="username">Username</label>
					<input  type="text" class="userInput" formControlName="userid" placeholder="Enter username">
				</div>				
				<div class="form-group">
					<label for="password" class="password">Password</label>
					<input type="password" class="passInput" formControlName="password" placeholder="Enter username">
				</div>
				<button type="submit" class="submit">Login</button>
			</form>
		</div>
	</div>
</div>