.container {
    position: relative;
    max-width: 670px;
    background: #fff;
    border-radius: 15px;
}

.img {
    position: relative;
    width: 100%;
    display: inline-block;
    float: left;
}

.img img {
    float: left;
    border-radius: 15px 15px 0 0;
}

.title {   
    margin: 40px 0 0;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.content {
    width: 100%;
    float: left;
}

.content form {
    padding: 50px 100px;
}

.form-group {
    margin: 0 0 20px;
}

.content form label {
    margin: 0 2% 0 0;
    width: 16%;
    color: rgba(142, 145, 146, 1);
}

.content form input {
    width: 81%;
    color: rgba(142, 145, 146, 1);
    border-bottom: 1px solid rgba(176, 176, 176, 1);
    padding: 10px 5px;
}

.content form input::placeholder {
    color: rgba(142, 145, 146, 1);
    opacity: 1;
}

.content form input:-ms-input-placeholder {
    color: rgba(142, 145, 146, 1);
}

.content form input::-ms-input-placeholder {
    color: rgba(142, 145, 146, 1);
}

.content form .submit {
    width: auto;
    background: rgba(70, 181, 86, 1);
    color: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    margin: 0 0 0 85px;
}

.content .error {
    color: red;
    margin: 0 0 10px;
}