.smv-wrap-product-list{
    margin: 50px 0 0;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add{
    display: flex;
    margin-bottom: 50px;
}
.welcome{
    margin: 30px 0 0;
    display: inline-block;
    width: 100%;
}
.smv-wrap{
    display: flex;
    justify-content: space-between;
}
.logout{
    margin: 0 0 0 10px;
    background: #312f30;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}