<div class="welcome">
	<div class="smv-wrap">
		<div>
			Welcome, <strong>{{id}}</strong>
			<a class="logout" href="javascript:void(0);" (click)="logout()">Logout</a>
		</div>		
		<app-dashboard-search></app-dashboard-search>
	</div>
</div>
<div class="smv-block-content" id="smv-container">
	<div class="smv-wrap">
		<div class="smv-category-list smv-clr">
			<div class="smv-main">
				<div class="smv-main-container">
					<div class="smv-wrap-product-list smv-clr">
						<ul class="smv-product-list">
							<li *ngFor="let product of products" class="smv-product-item">
								<div class="smv-item">
									<div class="smv-item-img">
										<a routerLink="detail/{{product.productCode}}" title="{{product.name}}"><span><img src="assets/images/static/{{product.imgUrl}}"></span></a>
										<div *ngIf="product.sale" class="smv-sale-off">
											<span>
												<i class="smv-sale-number">50%</i>
												<i>Off</i>
											</span>
										</div>
										<p *ngIf="product.freeShipping" class="smv-shipping-method">Free shipping</p>
									</div>
									<div class="smv-item-info">
										<h2 class="smv-product-name"><a href="#" title="{{product.name}}">{{product.name}}</a></h2>
										<div class="smv-item-price">
											<p class="smv-new-price">${{product.newPrice}}</p>
											<p *ngIf="product.oldPrice" class="smv-old-price">was ${{product.oldPrice}}</p>
											<p *ngIf="product.mrspPrice" class="smv-mrsp-price">mrsp ${{product.mrspPrice}}</p>
										</div>
										<div class="smv-btn-add smv-add-cart">
											<a routerLink="detail/{{product.productCode}}"><span class="smv-text">Edit</span><i class="fa fa-shopping-cart"
												 aria-hidden="true"></i></a>
											<a href="javascript:void(0)" (click)="deleteProduct(product)"><span class="smv-text">Delete</span><i class="fa fa-shopping-cart"
												 aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>