.search-wrap{
    position: relative;
}
.search-wrap input{
    border: 1px solid #ccc;
    padding: 0 20px;
}
.search-wrap .search{    
    margin: 0 0 0 10px;
    background: #312f30;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
.search-result{
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 2;
    width: 500px;    
    color: #fff;
}
.search-result li{
    background: #c4c4c4;
    padding: 10px 30px;
}