<div class="search-wrap">
	<input #searchBox id="search-box" (input)="searchProduct(searchBox.value)" placeholder="Search name product" />
	<ul class="search-result">
		<li *ngFor="let product of products$ | async">
			<a routerLink="detail/{{product.productCode}}">
				{{product.name}}
			</a>
		</li>
	</ul>
</div>