<div id="smv-main-header">
	<div class="smv-top-header">
		<div class="smv-wrap smv-clr">
			<div class="smv-nav-bar smv-hide-des">
				<a href="#" class="smv-icon smv-icon-bar"><i class="fa fa-bars" aria-hidden="true"></i></a>
			</div>
			<div class="smv-head-left smv-logo">
				<a routerLink="" title="Machine"><img src="../../assets/images/logo.png"></a>
			</div>
			<div class="smv-head-right smv-right">
				<ul class="smv-nav smv-clr">
					<li class="smv-blog"><a href="https://unitymta.github.io/" title="Blog" target="_blank">Blog</a></li>
					<li class="smv-login"><a routerLink="/login" title="Login or Sign up">Login or Sign up</a></li>
					<li class="smv-wishlist"><a href="#" title="Wishlist">Wishlist</a></li>
				</ul>
				<div class="smv-mini-cart">
					<p class="cart" (click)="showCart()">
						<span class="smv-qty-item">0</span>
						<span class="smv-toal"> </span>
					</p>
					<div [class]="show ? 'smv-wrap-mini-cart' : 'hide'">
						<p class="smv-emptry">You have no items in your shopping cart.</p>
					</div>					
				</div>
			</div>
			<div class="smv-head-right-bottom smv-right">
				<div class="smv-call-now smv-right">
					<p>Need help? Call us now</p>
					<p><a href="tel:0375757330" title="">03 7575 7330</a></p>
				</div>
				<div class="smv-search-box smv-right">
					<div class="smv-input-box">
						<form action="" method="get">
							<input type="text" name="search" placeholder="Search entire store here...">
							<button><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>