/* begin style header */

.smv-top-header {
    display: inline-block;
    width: 100%;
    float: left;
}

.smv-nav {
    display: inline-block;
}

.smv-head-left {
    float: left;
    margin: 15px 0 10px;
}

.smv-head-right li {
    float: left;
    padding: 0 12px;
    margin-top: 7px;
    border-right: 1px solid #c0c0c0;
}

.smv-head-right li a {
    padding-left: 22px;
    line-height: 20px;
    font-family: 'arial';
    background-image: url(../../assets/images/css/MH-bg.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.smv-head-right li a:hover {
    background-image: url(../../assets/images/css/MH-bg.png);
    background-position: 0 -23px;
    background-repeat: no-repeat;
    color: #999;
}

.smv-head-right li.smv-login a {
    background-image: url(../../assets/images/css/MH-bg.png);
    background-position: 0 -47px;
    background-repeat: no-repeat;
}

.smv-head-right li.smv-login a:hover {
    background-image: url(../../assets/images/css/MH-bg.png);
    background-position: 0 -72px;
    background-repeat: no-repeat;
}

.smv-head-right li.smv-wishlist {
    border: 0;
}

.smv-head-right li.smv-wishlist a {
    background-image: url(../../assets/images/css/MH-bg.png);
    background-position: 0 -101px;
    background-repeat: no-repeat;
}

.smv-head-right li.smv-wishlist a:hover {
    background-image: url(../../assets/images/css/MH-bg.png);
    background-position: 0 -128px;
    background-repeat: no-repeat;
}

.smv-head-right .smv-mini-cart {
    border: 0;
    position: relative;
    background-color: #4a525f;
    padding: 6px 13px;
    margin: 0 0 0 10px;
    float: right;
}

.smv-head-right .smv-mini-cart .cart {
    cursor: pointer;
    background-image: url(../../assets/images/css/MH-bg.png);
    background-position: 0 -158px;
    background-repeat: no-repeat;
    padding: 0px 0px 0 18px;
}

.smv-head-right .smv-mini-cart .cart:hover {
    background-image: url(../../assets/images/css/MH-bg.png);
    background-position: 0 -158px;
    background-repeat: no-repeat;
}

.smv-head-right .smv-mini-cart .cart span.smv-qty-item {
    color: #111;
    background: #fff;
    font-size: 10px;
    font-family: 'Arial';
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    line-height: 15px;
    padding: 0px 4px;
    margin: 0 5px 0 0;
    display: inline-block;
}

.smv-head-right .smv-mini-cart .cart:after {
    color: #8f8f8f;
    content: "\f0d7";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 0 3px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
}

.smv-head-right .smv-mini-cart .cart,
.smv-head-right .smv-mini-cart span {
    color: #fff;
    font-weight: 700;
}

.smv-head-right .smv-mini-cart .smv-wrap-mini-cart {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 300px;
    z-index: 1;
    background: #fff;
    border: 1px solid #ccc;
}

.smv-head-right .smv-mini-cart .hide{
    display: none;
}

.smv-head-right .smv-mini-cart .smv-wrap-mini-cart .smv-emptry {
    padding: 15px;
}

.smv-head-right-bottom {
    clear: right;
    margin-top: 34px;
}

.smv-head-right-bottom .smv-input-box {
    margin: 0;
    padding: 0;
    width: 300px;
    display: inline-block;
    position: relative;
}

.smv-head-right-bottom .smv-input-box form {
    border: 3px solid #dedede;
}

.smv-head-right-bottom .smv-input-box form input {
    border: 0;
    color: #999;
    font-family: "arial";
    font-size: 14px;
    height: 33px;
    line-height: 18px;
    margin: 0;
    padding-right: 46px;
    width: 100%;
}

.smv-head-right-bottom .smv-input-box form button {
    border: 0;
    background: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 0px;
}

.smv-head-right-bottom .smv-input-box form button i {
    height: 39px;
    width: 39px;
    background: #ef6013;
    line-height: 39px;
    font-size: 22px;
    color: #fff;
}

.smv-head-right-bottom .smv-input-box form button:hover i {
    background: #d6460d;
}

.smv-head-right-bottom .smv-call-now {
    margin-left: 32px;
}

.smv-head-right-bottom .smv-call-now p {
    color: #999;
    font-family: "Arial";
    font-size: 11px;
    line-height: 12px;
    margin: 0;
}

.smv-head-right-bottom .smv-call-now a {
    color: #019ee1;
    font-family: "RalewayExtrabold", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 31px;
}

.smv-head-right-bottom .smv-call-now a:hover {
    color: #019ee1;
}

/* end style header */