.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add{
    margin: 50px 0 0;
}
.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a{
    width: 46%;
    margin: 0 2% 0 0;
}