<div class="smv-block-content" id="smv-container">
		<div class="smv-wrap">
			<div class="smv-category-list smv-clr">
				<div class="smv-main">
					<div class="smv-main-container">
						<div class="smv-wrap-product-list smv-clr">
							<ul class="smv-product-list">
								<li class="smv-product-item">
									<div class="smv-item">
										<div class="smv-item-img">
											<p><span><img src="assets/images/static/{{product.imgUrl}}"></span></p>
											<div *ngIf="product.sale" class="smv-sale-off">
												<span>
													<i class="smv-sale-number">50%</i>
													<i>Off</i>
												</span>
											</div>
											<p *ngIf="product.freeShipping" class="smv-shipping-method">Free shipping</p>
										</div>
										<div class="smv-item-info">
											<h2 class="smv-product-name"><a routerLink="/detail/{{product.productCode}}" title="{{product.name}}">{{product.name}}</a></h2>											
											<div class="smv-item-price">
												<p class="smv-new-price">${{product.newPrice}}</p>
												<p *ngIf="product.oldPrice" class="smv-old-price">was ${{product.oldPrice}}</p>
												<p *ngIf="product.mrspPrice" class="smv-mrsp-price">mrsp ${{product.mrspPrice}}</p>												
											</div>											
										</div>
									</div>
								</li>	
								<li class="smv-product-item">
									<div class="smv-item">									
										<div class="smv-item-info">
											<div class="smv-item-price">
												<div>
														<label>Price new: </label><input type="number" id="edit-new-price" class="smv-new-price" [(ngModel)]="product.newPrice" placeholder="price new" />
												</div>	
												<div *ngIf="product.oldPrice">
														<label>Price old: </label><input type="number" class="smv-old-price" [(ngModel)]="product.oldPrice" placeholder="price oldPrice" />
												</div>
												<div *ngIf="product.mrspPrice">
														<label>Price MRSP: </label><input type="number" class="smv-mrsp-price" [(ngModel)]="product.mrspPrice" placeholder="price mrspPrice" />											
												</div>																																			
											</div>
											<div class="smv-btn-add smv-add-cart">
												<a href="javascript:void(0)" (click)="saveProduct()"><span class="smv-text">Save</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
												<a href="javascript:void(0)" (click)="back()"><span class="smv-text">Back</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>
								</li>						
							</ul>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>