/* begin style menu top */

.smv-category {
    background: #312f30;
    border-bottom: 3px solid #ef6013;
}

.smv-category .smv-nav {
    float: right;
}

.smv-category .smv-nav li {
    display: inline-block;
    position: relative;
    float: left;
}

.smv-category .smv-nav li a {
    color: #fff;
    font-family: "RalewayExtrabold", sans-serif;
    font-size: 13px;
    line-height: 47px;
    text-transform: uppercase;
    padding: 3px 6px 0;
    display: inline-block;
}

.smv-category .smv-nav li i {
    display: none;
}

.smv-category .smv-nav li:hover {
    background: #1B1B1B;
}

.smv-category .smv-nav li:hover div.sub-category {
    display: inline-block;
}

.smv-category .smv-nav li div {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 3;
    min-width: 220px;
    background: #1B1B1B;
}

.smv-category .smv-nav li div li {
    width: 100%;
}

.smv-category .smv-nav li div li a {
    line-height: 20px;
    padding: 10px 15px;
    width: 100%;
    text-transform: none;
    font-family: "Raleway", sans-serif;
}

.smv-category .smv-nav li div li:hover {
    background: #312F30;
}

.smv-category .smv-nav li div li:hover a {
    color: #ef6013;
}

.smv-category .smv-nav li div li:hover div.sub-category2 {
    display: inline-block;
}

.smv-category .smv-nav li div li div.sub-category2 {
    display: none;
    top: 0px;
    left: 100%;
}

.smv-category .smv-nav li div li div.sub-category2 a {
    color: #fff;
}

.smv-category .smv-nav li div li div.sub-category2 a:hover {
    color: #ef6013;
}

.smv-category .smv-nav li.smv-title-menu a {
    background-image: url(../../assets/images/css/MH-bg.png);
    background-position: 0 -180px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 16px;
}

.smv-category .smv-nav li.smv-title-menu a:hover {
    background-color: #312f30;
}

.smv-category .smv-nav li:last-child div {
    left: auto;
    right: 0 !important;
}

.smv-category .smv-nav li:last-child div div.sub-category2 {
    top: 0px;
    left: auto;
    right: 100% !important;
}

/* end style menu top */