<div class="smv-block-content smv-category">
	<div class="smv-wrap">
		<ul class="smv-nav">
			<li class="smv-title-menu"><a href="#" title="home">Home</a></li>
			<li>
				<a routerLink="/category/4X4" title="4X4">4X4</a>
				<i class="arrow fa fa-angle-right" aria-hidden="true"></i>
				<i class="arrow fa fa-angle-down" aria-hidden="true"></i>
				<div class="sub-category">
					<ul>
						<li><a href="#" title="">Submenu 1</a></li>
						<li>
							<a href="#" title="">Submenu 1</a>
							<i class="arrow fa fa-angle-right" aria-hidden="true"></i>
							<i class="arrow fa fa-angle-down" aria-hidden="true"></i>
							<div class="sub-category2">
								<ul>
									<li><a href="#" title="">Submenu 2</a></li>
									<li><a href="#" title="">Submenu 2</a></li>
									<li><a href="#" title="">Submenu 2</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#" title="">Submenu 1</a></li>
					</ul>
				</div>
			</li>
			<li><a routerLink="/category/accessories" title="Accessories">Accessories</a></li>
			<li><a routerLink="/category/electrical" title="Electrical">Electrical</a></li>
			<li><a routerLink="/category/replacement-parts" title="Replacement Parts">Replacement Parts</a>
				<i class="arrow fa fa-angle-right" aria-hidden="true"></i>
				<i class="arrow fa fa-angle-down" aria-hidden="true"></i>
				<div class="sub-category">
					<ul>
						<li><a href="#" title="">Submenu 1</a></li>
						<li>
							<a href="#" title="">Submenu 1</a>
							<i class="arrow fa fa-angle-right" aria-hidden="true"></i>
							<i class="arrow fa fa-angle-down" aria-hidden="true"></i>
							<div class="sub-category2">
								<ul>
									<li><a href="#" title="">Submenu 2</a></li>
									<li><a href="#" title="">Submenu 2</a></li>
									<li><a href="#" title="">Submenu 2</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#" title="">Submenu 1</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>