/* begin style page list */

.smv-sidebar-main {
    width: 22%;
    float: left;
    position: relative;
}

.smv-sidebar-main .smv-filter-header {
    display: none;
}

.smv-sidebar-main .smv-filter-header .smv-filter-title {
    color: #111111;
    font-family: "RalewayBold";
    font-size: 20px;
    text-transform: uppercase;
}

.smv-sidebar-main .smv-filter-list .smv-btn-clear {
    display: none;
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.smv-sidebar-main .smv-filter-list .smv-title {
    background: #4a525f;
    border-top: 1px solid #d9d9d9;
}

.smv-sidebar-main .smv-filter-list .smv-title span {
    color: #fff;
    font-family: "RalewayBold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 18px;
    display: inline-block;
}

.smv-sidebar-main .smv-filter-list .smv-filter-items {
    background: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-top: 0;
}

.smv-sidebar-main .smv-filter-list .smv-filter-items ul li {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 0;
}

.smv-sidebar-main .smv-filter-list .smv-filter-items ul li:last-child {
    border: 0;
}

.smv-sidebar-main .smv-filter-list .smv-filter-items ul li a ,
.smv-sidebar-main .smv-filter-list .smv-filter-items ul li p {
    color: #111;
    display: block;
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
    padding: 13px 15px;
}

.smv-sidebar-main .smv-filter-list .smv-filter-items ul li a span,
.smv-sidebar-main .smv-filter-list .smv-filter-items ul li p span {
    color: #999;
    padding-left: 5px;
}

.smv-sidebar-main .smv-filter-list .smv-filter-items ul li a:hover,
.smv-sidebar-main .smv-filter-list .smv-filter-items ul li p:hover {
    background: #ebebeb;
    text-decoration: none;
    cursor: pointer;
}

.smv-sidebar-main .smv-filter-group {
    margin-bottom: 20px;
}

.smv-sidebar-main .smv-filter-group:last-child {
    margin: 0;
}

.smv-main {
    width: 78%;
    float: left;
}

.smv-main .smv-main-container {
    margin-left: 20px;
}

.smv-main .smv-page-title-wrapper h1.smv-page-title {
    color: #ef6013;
    font-family: "RalewayMedium", sans-serif;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    width: 100%;
}

.smv-tool-bar {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.smv-tool-bar .font-base-tool-bar {
    color: #333;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.smv-tool-bar .smv-sort-by {
    display: inline-block;
}

.smv-tool-bar .smv-sort-by label,
.smv-tool-bar .smv-sort-by .smv-sort-by-select {
    text-align: left;
    color: #333;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.smv-tool-bar .smv-sort-by .smv-sort-by-select {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.smv-tool-bar .smv-sort-by .smv-sort-by-select:after {
    content: "";
    position: absolute;
    top: 0;
    right: 1px;
    z-index: 1;
    width: 28px;
    height: 28px;
    background-image: url(../../../assets/images/css/MH-bg.png);
    background-position: 0 -456px;
    background-repeat: no-repeat;
}

.smv-tool-bar .smv-sort-by .smv-sort-by-select select {
    border: 1px solid #ccc;
    color: #333;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    height: 29px;
    padding: 3px 30px 3px 10px;
    width: 166px;
}

.smv-tool-bar .smv-pages {
    display: inline-block;
    float: right;
}

.smv-tool-bar .smv-pages p {
    color: #333;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
}

.smv-tool-bar .smv-pages ol {
    display: inline-block;
}

.smv-tool-bar .smv-pages ol li,
.smv-tool-bar .smv-pages ol a {
    color: #333;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
}

.smv-tool-bar .smv-pages ol li {
    margin: 0 0 0 2px;
    position: relative;
    padding: 6px 4px;
}

.smv-tool-bar .smv-pages ol li.smv-current {
    background: #4a525f;
    color: #fff !important;
}

.smv-tool-bar .smv-pages ol li.smv-item a {
    display: inline-block;
    height: 19px;
    text-indent: -99999px;
    width: 15px;
}

.smv-tool-bar .smv-pages ol li.smv-item .smv-next {
    background-image: url(../../../assets/images/css/MH-bg.png);
    background-position: 0 -499px;
    background-repeat: no-repeat;
}

.smv-tool-bar .smv-pages ol li.smv-item .smv-prev {
    transform: rotate(180deg);
    background-image: url(../../../assets/images/css/MH-bg.png);
    background-position: 0 -499px;
    background-repeat: no-repeat;
}

.smv-wrap-product-list {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 25px;
}

.smv-wrap-product-list:before {
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
    background: #fff;
    z-index: 2;
}

.smv-wrap-product-list:after {
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10px;
    background: #fff;
    z-index: 2;
}

.smv-wrap-product-list .smv-product-list {
    margin: 0 -10px;
}

.smv-wrap-product-list .smv-product-list .smv-product-item {
    margin: 0;
}

.smv-wrap-product-list .smv-product-list .smv-product-item .smv-item {
    border-right: 1px solid #efefef;
    border-top: 1px solid #efefef;
    padding: 25px 10px;
    margin: 0;
}

.smv-wrap-product-list .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
    font-size: 14px;
    line-height: 18px;
}

.smv-wrap-product-list .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
    font-size: 18px;
    line-height: 18px;
}

.smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(1) .smv-item,
.smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(2) .smv-item,
.smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(3) .smv-item,
.smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(4) .smv-item {
    border-top: 0;
    padding-top: 0;
}

.smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(4n) .smv-item {
    border-right: 0;
}

/* end style page list */