<div class="smv-block-content" id="smv-container">
	<div class="smv-wrap">
		<div class="smv-block-content smv-break-crumb smv-clr">
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<span>Shop All</span>
				</li>
			</ul>
		</div>
		<div class="smv-category-list smv-clr">
			<div class="smv-sidebar smv-sidebar-main">
				<div class="smv-widget">
					<div class="smv-filter-header smv-clr">
						<h3 class="smv-filter-title">Refine By</h3>
					</div>
					<div class="smv-filter-list">
						<a class="smv-btn-clear" href="#">clear</a>
						<div class="smv-filter-group">
							<h4 class="smv-title"><span>Categories</span></h4>
							<div class="smv-filter-items">
								<ul>
									<li><a routerLink="/category/4x4" (click)="clickCategories('4x4')">4x4<span class="smv-count">({{countCategories('4x4')}})</span></a></li>
									<li><a routerLink="/category/accessories" (click)="clickCategories('accessories')">Accessories<span class="smv-count">({{countCategories('Accessories')}})</span></a></li>
									<li><a routerLink="/category/electrical" (click)="clickCategories('electrical')">Electrical<span class="smv-count">({{countCategories('Electrical')}})</span></a></li>
									<li><a routerLink="/category/replacement-parts" (click)="clickCategories('replacement-parts')">Replacement Parts<span class="smv-count">({{countCategories('Replacement Parts')}})</span></a></li>									
								</ul>
							</div>
						</div>
						<div class="smv-filter-group">
							<h4 class="smv-title"><span>Brands</span></h4>
							<div class="smv-filter-items">
								<ul>
									<li><a href="#" title="Spyder">Spyder<span class="smv-count">({{countBrands('Spyder')}})</span></a></li>
									<li><a href="#" title="K&N">K&N<span class="smv-count">({{countBrands('K&N')}})</span></a></li>
									<li><a href="#" title="Anzo">Anzo<span class="smv-count">({{countBrands('Anzo')}})</span></a></li>
									<li><a href="#" title="Pirelli">Pirelli<span class="smv-count">({{countBrands('Pirelli')}})</span></a></li>
									<li><a href="#" title="Curt">Curt<span class="smv-count">({{countBrands('Curt')}})</span></a></li>
								</ul>
							</div>
						</div>
						<div class="smv-filter-group">
							<h4 class="smv-title"><span>Model</span></h4>
							<div class="smv-filter-items">
								<ul>
									<li><a href="#" title="">1-Series<span class="smv-count">({{countModels('1-Series')}})</span></a></li>
									<li><a href="#" title="">3-Series<span class="smv-count">({{countModels('3-Series')}})</span></a></li>
									<li><a href="#" title="">6-Series<span class="smv-count">({{countModels('6-Series')}})</span></a></li>
									<li><a href="#" title="">M3<span class="smv-count">({{countModels('M3')}})</span></a></li>
									<li><a href="#" title="">M6<span class="smv-count">({{countModels('M6')}})</span></a></li>
								</ul>
							</div>
						</div>
						<div class="smv-filter-group">
							<h4 class="smv-title"><span>Price</span></h4>
							<div class="smv-filter-items">
								<ul>
									<li><a href="#" title="">$100 - $199<span class="smv-count">({{countPrices(100,199)}})</span></a></li>
									<li><a href="#" title="">$200 - $299<span class="smv-count">({{countPrices(200,299)}})</span></a></li>
									<li><a href="#" title="">$300 - $499<span class="smv-count">({{countPrices(300,499)}})</span></a></li>
									<li><a href="#" title="">$500 - $799<span class="smv-count">({{countPrices(500,799)}})</span></a></li>
									<li><a href="#" title="">$800 - $999<span class="smv-count">({{countPrices(800,999)}})</span></a></li>
									<li><a href="#" title="">More than $1000<span class="smv-count">({{countPrices(1000,10000000)}})</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="smv-main">
				<div class="smv-main-container">
					<div class="smv-page-title-wrapper">
						<h1 class="smv-page-title">Interior</h1>
					</div>
					<div class="smv-tool-bar smv-clr">
						<div class="smv-pager">
							<div class="smv-sort-by">
								<label>Sort by:</label>
								<div class="smv-sort-by-select">
									<select id="smv-sorter" class="smv-sorter-options">
										<option> Position </option>
										<option> Product Name </option>
										<option> Price </option>
									</select>
								</div>
							</div>
							<div class="smv-pages">								
								<div class="has-text-centered">
									<!-- <p><span class="smv-toolbar-number"> Items 1 to 16 of {{products.length}} total </span></p> -->
									<pagination-controls (pageChange)="page = $event" maxSize="4"
									previousLabel="" nextLabel=""></pagination-controls>
								</div>
							</div>
						</div>
					</div>
					<div class="smv-wrap-product-list smv-clr">
						<ul class="smv-product-list">
							<li *ngFor="let product of products | paginate: { itemsPerPage:12, currentPage: page}; let i = index" class="smv-product-item">
								<div class="smv-item">
									<div class="smv-item-img">
										<a routerLink="/detail/{{product.productCode}}" title="{{product.name}}"><span><img src="assets/images/static/{{product.imgUrl}}"></span></a>
										<div *ngIf="product.sale" class="smv-sale-off">
											<span>
												<i class="smv-sale-number">50%</i>
												<i>Off</i>
											</span>
										</div>
										<p *ngIf="product.freeShipping" class="smv-shipping-method">Free shipping</p>
									</div>
									<div class="smv-item-info">
										<h2 class="smv-product-name"><a href="#" title="{{product.name}}">{{product.name}}</a></h2>
										<div class="smv-more-info">
											<div class="smv-reviews">
												<span class="smv-stars smv-stars-100"></span><span class="smv-count">(5)</span>
											</div>
										</div>
										<div class="smv-item-price">
											<p class="smv-new-price">${{product.newPrice}}</p>
											<p *ngIf="product.oldPrice" class="smv-old-price">was ${{product.oldPrice}}</p>
											<p *ngIf="product.mrspPrice" class="smv-mrsp-price">mrsp ${{product.mrspPrice}}</p>
											<p *ngIf="product.oldPrice" class="smv-save-price">save {{product.newPrice/product.oldPrice | percent:'1.0-0'}}</p>
										</div>
										<span class="smv-item-condition">As low as $50.00</span>
										<div class="smv-btn-add smv-add-cart">
											<a href="#"><span class="smv-text">add to cart</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</li>							
						</ul>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>