/* You can add global styles to this file, and also import other style files */
html, body, div, h1, h2, h2, h4, h5, h6, ul, ol, li, label, input, button {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    box-shadow: 0 0 0;
    outline: 0;
    border: 0;
}