<div class="smv-clr smv-recently-viewed">
    <div class="smv-title-block">
        <h2>Recently Viewed</h2>
    </div>
    <ul class="smv-list-recently smv-clr">
        <li>
            <div class="smv-images">
                <a href="#"><img src="../../../assets/images/static/MH-img-recently-view-1.png"></a>
            </div>
            <div class="smv-text">
                <p><a href="#">Spyder U-Bar Style Projector Headlights</a></p>
            </div>
        </li>
        <li>
            <div class="smv-images">
                <a href="#"><img src="../../../assets/images/static/MH-img-recently-view-2.png"></a>
            </div>
            <div class="smv-text">
                <p><a href="#">Spyder U-Bar Style Projector Headlights</a></p>
            </div>
        </li>
        <li>
            <div class="smv-images">
                <a href="#"><img src="../../../assets/images/static/MH-img-recently-view-1.png"></a>
            </div>
            <div class="smv-text">
                <p><a href="#">Spyder U-Bar Style Projector Headlights</a></p>
            </div>
        </li>
        <li>
            <div class="smv-images">
                <a href="#"><img src="../../../assets/images/static/MH-img-recently-view-2.png"></a>
            </div>
            <div class="smv-text">
                <p><a href="#">Spyder U-Bar Style Projector Headlights</a></p>
            </div>
        </li>
        <li>
            <div class="smv-images">
                <a href="#"><img src="../../../assets/images/static/MH-img-recently-view-1.png"></a>
            </div>
            <div class="smv-text">
                <p><a href="#">Spyder U-Bar Style Projector Headlights</a></p>
            </div>
        </li>
        <li>
            <div class="smv-images">
                <a href="#"><img src="../../../assets/images/static/MH-img-recently-view-2.png"></a>
            </div>
            <div class="smv-text">
                <p><a href="#">Spyder U-Bar Style Projector Headlights</a></p>
            </div>
        </li>
    </ul>
</div>