/* begin style recently viewed */

.smv-recently-viewed {
    display: inline-block;
    width: 100%;
}

.smv-list-recently {
    margin-top: -20px;
}

.smv-list-recently li {
    float: left;
    position: relative;
    width: 20%;
    margin: 15px 0 0;
}

.smv-list-recently li .smv-images {
    float: left;
    width: 90px;
}

.smv-list-recently li .smv-images img {
    border: 1px solid #e1e1e1;
}

.smv-list-recently li .smv-text {
    overflow: hidden;
    height: 90px;
}

.smv-list-recently li .smv-text p {
    padding: 0 15px;
}

.smv-list-recently li .smv-text p a {
    color: #4a525f;
    font-size: 14px;
    line-height: 18px;
    font-family: "RalewayMedium", sans-serif;
}

/* end style recently viewed */