<app-banner></app-banner>
<app-featured></app-featured>
<app-tag></app-tag>
<div class="smv-block-content" id="smv-container">
	<div class="smv-wrap">
		<app-new-arrival></app-new-arrival>
		<app-best-seller></app-best-seller>
		<app-recentyle-viewed></app-recentyle-viewed>
	</div>
</div>