/* begin style page detail */
.smv-product-detail h2.smv-product-name {
    color: #4a525f;
    font-family: "RalewayExtrabold", sans-serif;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
}

.smv-product-container {
    margin: 20px 0 0;
    display: inline-block;
    width: 100%;
}

.smv-product-info-main {
    float: right;
    width: 50%;
}

.smv-sku-code {
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color: #848484;
    font-weight: normal;
}

.smv-sku-code b {
    color: #2c2c2c;
}

.smv-product-reviews-summary span,
.smv-product-reviews-summary a {
    border: 0 none;
    color: #2c2c2c;
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
    padding-left: 0;
}

.smv-product-reviews-summary span.smv-label {
    font-weight: bold;
}

.smv-product-reviews-summary .smv-reviews {
    display: inline-block;
    padding-left: 5px;
    margin: 7px 0 0;
}

.smv-product-reviews-summary .smv-reviews-actions {
    margin-top: 5px;
}

.smv-product-reviews-summary .smv-reviews-actions a {
    color: #848484;
}

.smv-product-reviews-summary .smv-reviews-actions a:hover {
    color: #b2b2b2;
    text-decoration: underline;
}

.smv-product-reviews-summary .smv-reviews-actions span.smv-line {
    padding: 0 7px;
    color: #848484;
}

.smv-product-brand {
    border-top: 1px solid #cccccc;
    display: inline-block;
    font-family: "Arial";
    color: #231f24;
    font-size: 14px;
    line-height: 18px;
    padding-top: 25px;
    margin-top: 20px;
    width: 100%;
}

.smv-product-brand span {
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: top;
}

.smv-product-brand img {
    padding: 0 20px 0 30px;
}

.smv-product-brand a {
    color: #848484;
    position: relative;
    vertical-align: middle;
}

.smv-product-brand a:after {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-left: 3px;
}

.smv-product-brand a:hover {
    color: #b2b2b2;
}

.smv-img-gallery {
    float: left;
    width: 50%;
}

.smv-img-gallery .smv-main-image {
    padding-right: 60px;
}

.smv-product-price {
    border-top: 1px solid #cccccc;
    margin: 25px 0 2px;
    padding-top: 34px;
    width: 100%;
}

.smv-product-price .price-wrapper {
    margin-bottom: 5px;
}

.smv-product-price span {
    color: #231f20;
    font-family: "Arial";
    font-size: 18px;
    line-height: 23px;
    min-width: 150px;
    display: inline-block;
}

.smv-product-price span.smv-price {
    font-size: 30px;
    line-height: 37px;
    font-weight: 600;
}

.smv-product-price span.smv-price-was {
    color: #848484;
}

.smv-product-price span.smv-price-save {
    color: #da1010;
}

.smv-product-add-form {
    padding-top: 12px;
}

.smv-product-add-form .smv-quantity {
    display: inline-block;
    width: 100%;
}

.smv-product-add-form .smv-label {
    color: #231f20;
    font-family: "Arial";
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    margin-top: 8px;
}

.smv-product-add-form .smv-control {
    display: inline-block;
    padding-left: 20px;
    float: left;
    position: relative;
}

.smv-product-add-form .smv-control .smv-qty-decrease,
.smv-product-add-form .smv-control .smv-qty-increase {
    border: 0 none;
    border-radius: 0;
    float: left;
    height: 36px;
    width: 36px;
    margin-right: 2px;
    position: relative;
    top: 0;
}

.smv-product-add-form .smv-control .smv-qty-decrease:hover,
.smv-product-add-form .smv-control .smv-qty-increase:hover {
    background-color: #575757 !important;
}

.smv-product-add-form .smv-control .smv-qty-decrease {
    background-color: #7e7e7e;
    background-image: url(../../../assets/images/css/MH-bg.png);
    background-position: 0 -317px;
    background-repeat: no-repeat;
}

.smv-product-add-form .smv-control .smv-qty-increase {
    background-color: #7e7e7e;
    background-image: url(../../../assets/images/css/MH-bg.png);
    background-position: 0 -354px;
    background-repeat: no-repeat;
}

.smv-product-add-form .smv-control .smv-qty {
    float: left;
    margin-right: 2px;
    border: 1px solid #cccccc;
    border-radius: 1px;
    color: #8b8b8b;
    font-family: "arial";
    font-size: 18px;
    height: 36px;
    line-height: 20px;
    text-align: center;
    width: 56px;
    -moz-appearance: textfield;
}

.smv-product-add-form .smv-stock {
    margin: 8px 0 3px;
    display: inline-block;
    float: left;
}

.smv-product-add-form .smv-stock a {
    color: #289942;
    display: inline-block;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    padding-left: 35px;
    text-transform: none;
    position: relative;
}

.smv-product-add-form .smv-stock a:before {
    content: "\f058";
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.smv-product-add-form .smv-actions {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.smv-product-add-form .smv-actions p {
    display: inline-block;
}

.smv-product-add-form .smv-actions p button {
    width: 230px;
    background: #36b252;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-family: "RalewayBold", sans-serif;
    font-size: 20px;
    line-height: 22px;
    padding: 11px 0;
    text-transform: uppercase;
}

.smv-product-add-form .smv-actions p button span {
    color: #fff;
    font-family: "RalewayBold", sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
}

.smv-product-add-form .smv-actions p button:hover {
    background: #1f8e38;
}

.smv-product-add-form .smv-actions p a {
    color: #4a525f;
    display: inline-block;
    font-family: "RalewayExtrabold", sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding: 12px 0 0 32px;
    text-transform: uppercase;
}

.smv-product-add-form .smv-actions p a:hover {
    color: #717e94;
}

.smv-product-info-main .smv-tags {
    background: #fff;
    margin: 30px -5px 0;
}

.smv-product-info-main .smv-tags .smv-tags-item {
    width: auto;
    margin: 0 5px;
    padding: 0;
    display: inline-block;
    float: left;
    min-width: 117px;
    text-align: center;
    background: #f1f1f1;
    height: 110px;
}

.smv-product-info-main .smv-tags .smv-tags-item .smv-wrap-item {
    padding: 15px 5px 0px;
}

.smv-product-info-main .smv-tags .smv-tags-item p {
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 5px;
}

.smv-product-info-main .smv-tags .smv-tags-item p span {
    font-size: 14px;
    line-height: 14px;
}

.smv-product-info-main .smv-tags .smv-tags-item p img {
    margin-left: 0px;
}

.smv-product-info-main .smv-tags .smv-tags-item p:last-child {
    height: 45px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    float: none;
    margin: 0 auto;
}

.smv-block-shipping-estimate {
    background: #f1f1f1;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

.smv-block-shipping-estimate .smv-postage {
    padding: 20px 15px;
    display: inline-block;
}

.smv-block-shipping-estimate h3 {
    color: #4a525f;
    font-family: "RalewayMedium", sans-serif;
    font-size: 21px;
    line-height: 23px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.smv-block-shipping-estimate p.smv-block-subtitle {
    color: #999;
    float: left;
    font-family: "Arial";
    font-size: 14px;
    line-height: 16px;
    padding-right: 15px;
    width: 28%;
}

.smv-block-shipping-estimate .smv-shipping-estimation-form {
    display: inline-block;
    float: left;
}

.smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 1px;
    float: left;
    height: 32px;
    width: 253px;
    position: relative;
}

.smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country:after {
    position: absolute;
    z-index: 1;
    top: 14px;
    right: 8px;
    background-image: url(../../../assets/images/css/MH-bg.png);
    background-position: 0 -425px;
    background-repeat: no-repeat;
    width: 11px;
    height: 6px;
    content: "";
}

.smv-block-shipping-estimate select,
.smv-block-shipping-estimate input {
    padding: 0 14px;
    border: 0 none;
    color: #5d5d5d;
    font-family: "Arial";
    font-size: 14px;
    height: 30px;
    width: 100%;
}

.smv-block-shipping-estimate .smv-input-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 1px;
    float: left;
    height: 32px;
    margin: 0 6px;
    width: 72px;
}

.smv-block-shipping-estimate .smv-input-box input {
    padding: 0 5px;
}

.smv-block-shipping-estimate .smv-actions {
    float: left;
}

.smv-block-shipping-estimate .smv-actions button {
    background: none;
    border: 0 none;
    padding: 0;
}

.smv-block-shipping-estimate .smv-actions button span {
    background: #ef6013;
    color: #fff;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    width: 39px;
    font-family: "RalewayBold", sans-serif;
    text-transform: uppercase;
    display: inline-block;
}

.smv-block-shipping-estimate .smv-actions button:hover span {
    background: #d6460d;
}

.smv-you-might-also-like {
    width: 100%;
    display: inline-block;
}

.smv-you-might-also-like .smv-product-list {
    margin-top: -20px;
}

.smv-you-might-also-like .smv-product-list .smv-product-item {
    margin-top: 20px;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img {
    width: 50%;
    float: left;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img a {
    margin-right: 15px;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method {
    display: none;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off {
    padding: 0 4px;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off span {
    font-size: 8.91px;
    line-height: 14px;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img span:hover:before,
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img span:hover:after {
    display: none;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info {
    width: 50%;
    float: left;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-product-name a {
    font-size: 12px;
    line-height: 17px;
    text-transform: none;
    margin: 0;
    height: 34px;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price {
    height: auto;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
    font-size: 16px;
    line-height: 18px;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-red {
    color: #da1010;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-old-price {
    color: #515151;
    font-size: 14px;
    line-height: 18px;
    text-decoration: line-through;
    float: right;
    width: auto;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-mrsp-price,
.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-save-price {
    display: none;
}

.smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-coming-soon a span {
    font-size: 11px;
}

.smv-information {
    margin-top: 40px;
    width: 100%;
    display: inline-block;
}

.smv-btn-change-tab ul {
    width: 100%;
    display: inline-block;
    float: left;
    margin: 30px 0 0;
}

.smv-btn-change-tab ul li {
    float: left;
    list-style: outside none none;
    margin: 0 6px 0 0;
}

.smv-btn-change-tab li p,
.smv-title-tab {
    background: #d8dde5 none repeat scroll 0 0;
    border-bottom: 3px solid #d8dde5;
    color: #9ba4b4;
    display: inline-block;
    font-family: "RalewayExtrabold", sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding: 14px 16px 10px;
    text-transform: uppercase;
}

.smv-btn-change-tab li.active p,
.smv-title-tab {
    background: #4a525f;
    border-bottom: 3px solid #019ee1;
    color: #fff;
}

.smv-tab-content {
    color: #404040;
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
    margin-top: -1px;
    min-height: auto;
    width: 100%;
    float: left;
}

.smv-tab-content .smv-content-text {
    padding: 20px 24px;
    border: 1px solid #cccccc;
}

.smv-tab-content p,
.smv-tab-content li,
.smv-tab-content a,
.smv-tab-content td,
.smv-tab-content th,
.smv-tab-content span {
    color: #404040;
    font-family: "Arial";
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

.smv-tab-content ul {
    margin: 0;
    padding: 0;
}

.smv-tab-content ul li {
    list-style: none;
}

.smv-tab-content ul li strong {
    display: inline-block;
    min-width: 119px;
}

.smv-tab-content ul li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    width: 10px;
    height: 10px;
    padding-right: 10px;
    color: #ef6013;
}

.smv-tab-content img {
    max-width: 100%;
}

.smv-tab-content table {
    width: 100%;
}

.smv-tab-content table tr {
    background: #fff;
}

.smv-tab-content table tr td,
.smv-tab-content table tr th {
    padding: 7px 10px;
    font-family: 'Arial';
    font-size: 14px;
    color: #404040;
    line-height: 20px;
    margin: 0;
}

.smv-tab-content table tr td:first-child,
.smv-tab-content table tr th:first-child {
    font-weight: bold;
    width: 42%;
}

.smv-tab-content table tr:nth-child(2n) {
    background: #f4f4f4;
}

.smv-tab-description .smv-box-tab {
    width: 50%;
    float: left;
}

.smv-tab-description #smv-box-tab-1 .smv-content-text {
    margin-right: 24px;
}

.smv-tab-description #smv-box-tab-2 .smv-content-text,
.smv-tab-description #smv-box-tab-2 .smv-title-tab {
    margin-left: 24px;
}

/* end style page detail */