<div class="smv-block-content" id="smv-container">
	<div class="smv-wrap">
		<div class="smv-block-content smv-break-crumb smv-clr">
			<ul>
				<li>
					<a routerLink="">Home</a>
				</li>
				<li>
					<span>{{product.name}}</span>
				</li>
			</ul>
		</div>
		<div class="smv-product-detail smv-clr">
			<h2 class="smv-product-name">{{product.name}}</h2>
			<div class="smv-product-container">
				<div class="smv-product-info-main">
					<p class="smv-sku-code"><b>Product Code:</b> {{product.productCode}}</p>
					<div class="smv-product-reviews-summary">
						<div class="smv-rating-summary">
							<span class="smv-label">Rating:</span>
							<div class="smv-reviews">
								<span class="smv-stars smv-stars-100"></span>
								<span class="smv-count">5 out of 5</span>
							</div>
						</div>
						<div class="smv-reviews-actions">
							<p>
								<a class="smv-action smv-view-all" href="#">Read all reviews</a>
								<span class="smv-line">|</span>
								<a class="action add" href="#m">Write a review</a>
							</p>
						</div>
					</div>
					<div class="smv-product-brand">
						<span>Manufactured by</span>
						<img src="/assets/images/static/{{product.imgBrand}}" title="" alt="">
						<a href="#" title="More from this brand">More from this brand</a>
					</div>
				</div>
				<div class="smv-img-gallery">
					<div class="smv-main-image">
						<img src="/assets/images/static/{{product.imgUrl}}" alt="" />
					</div>
				</div>
				<div class="smv-product-info-main">
					<div class="smv-product-price">
						<div class="smv-price-box">
							<div class="smv-price-container">
								<p class="smv-price-wrapper">
									<span class="smv-price">${{product.newPrice}}</span>
									<span *ngIf="product.oldPrice" class="smv-price-was">was ${{product.oldPrice}}</span>
								</p>
								<p class="smv-price-wrapper">
									<span *ngIf="product.mrspPrice" class="smv-price-mrsp">MRSP: ${{product.mrspPrice}}</span>
									<span *ngIf="product.oldPrice" class="smv-price-save">Save {{product.newPrice/product.oldPrice |
										percent:'1.0-0'}}</span>
								</p>
							</div>
						</div>
					</div>
					<div class="smv-product-add-form">
						<form action="#" method="post" id="smv-product_addtocart_form">
							<input type="hidden" name="product" value="14" />
							<input type="hidden" name="selected_configurable_option" value="" />
							<input type="hidden" name="related_product" id="related-products-field" value="" />
							<input name="form_key" type="hidden" value="T3l3bILd6vFItPL5" />
							<div class="smv-box-tocart">
								<div class="smv-quantity">
									<label class="smv-label"><span>Quantity</span></label>
									<div class="smv-control">
										<input type="button" (click)="decreaseCart()"
										 class="smv-qty-decrease">
										<input type="number" name="qty" id="smv-qty" maxlength="12" value="{{countCart}}" title="Qty" class="smv-input-text smv-qty" />
										<input type="button" (click)="increaseCart()"
										 class="smv-qty-increase">
									</div>
									<div class="smv-stock">
										<a href="#">In Stock</a>
									</div>
								</div>
								<div class="smv-actions">
									<p><button type="submit" title="Add to Cart"> <span>Add to Cart</span> </button></p>
									<p><a href="#" title="Add to wishlist">Add to wishlist</a></p>
								</div>
							</div>
						</form>
					</div>
					<!-- END product-add-form -->
					<div class="smv-tags">
						<div class="smv-wrap-tags">
							<div class="smv-tags-item">
								<div class="smv-wrap-item">
									<p><img src="../../../assets/images/static/MH-icon-tag-satisfaction.png" alt=""></p>
									<p>100% <br />Satisfaction <span>Guarantee</span></p>
								</div>
							</div>
							<div class="smv-tags-item">
								<div class="smv-wrap-item">
									<p><img src="../../../assets/images/static/MH-icon-tag-genuine.png" alt=""></p>
									<p>Genuine <span>Warranty</span></p>
								</div>
							</div>
							<div class="smv-tags-item">
								<div class="smv-wrap-item">
									<p><img src="../../../assets/images/static/MH-icon-tag-local.png" alt=""></p>
									<p>Local <span>Support</span></p>
								</div>
							</div>
							<div class="smv-tags-item">
								<div class="smv-wrap-item">
									<p>
										<img src="../../../assets/images/static/MH-accept-1.png" title="Payment 1" alt="Payment 1" />
										<img src="../../../assets/images/static/MH-accept-2.png" title="Payment 2" alt="Payment 2" />
										<img src="../../../assets/images/static/MH-accept-3.png" title="Payment 3" alt="Payment 3" />
									</p>
									<p>Simple Payment Method</p>
								</div>
							</div>
						</div>
					</div>
					<!-- END tag-list -->
					<input id="smv-estimate_cart_yes" type="hidden" name="estimate[cart]" value="1" />
					<div class="smv-block-shipping-estimate">
						<div class="smv-postage">
							<h3>Postage Calculator</h3>
							<div class="smv-block-content">
								<p class="smv-block-subtitle">Enter your postcode for estimated shipping</p>
								<div class="smv-shipping-estimation-form" id="smv-shipping-estimation-form">
									<div class="smv-country">
										<select name="country_id" id="smv-country_id">
											<option value="AU">Australia</option>
											<option value="US">United States</option>
										</select>
									</div>
									<div class="smv-input-box">
										<input class="smv-input-text smv-validate-postcode" type="text" id="smv-estimate_postcode" name="postcode"
										 value="" placeholder="postcode" />
									</div>
								</div>
								<div class="smv-actions">
									<button type="button" title="Get a Quote" class="button"><span>GO</span></button>
									<span class="smv-please-wait" id="smv-shipping-estimate-loading-message" style="display:none;">
										Loading rates... </span>
								</div>
							</div>
							<div id="smv-shipping-estimate-results" style="display:none">
							</div>
						</div>
					</div>
					<!-- END block-shipping-estimate -->
				</div>
			</div>
		</div>
		<div class="smv-clr smv-you-might-also-like">
			<div class="smv-title-block">
				<h2>You Might Also Like</h2>
			</div>
			<div class="smv-clr">
				<ul class="smv-product-list">
					<li class="smv-product-item">
						<div class="smv-item">
							<div class="smv-item-img">
								<a href="#" title=""><span><img src="/assets/images/static/{{product.imgUrl}}"></span></a>
								<div class="smv-sale-off">
									<span>
										<i class="smv-sale-number">50%</i>
										<i>Off</i>
									</span>
								</div>
								<p class="smv-shipping-method">Free shipping</p>
							</div>
							<div class="smv-item-info">
								<h2 class="smv-product-name"><a href="#" title="{{product.name}}">{{product.name}}</a></h2>								
								<div class="smv-item-price">
									<p class="smv-new-price">${{product.newPrice}}</p>
									<p *ngIf="product.oldPrice" class="smv-old-price">was ${{product.oldPrice}}</p>
									<p *ngIf="product.mrspPrice" class="smv-mrsp-price">mrsp ${{product.mrspPrice}}</p>
									<p *ngIf="product.oldPrice" class="smv-save-price">save {{product.newPrice/product.oldPrice | percent:'1.0-0'}}</p>
								</div>
								<span class="smv-item-condition">As low as $50.00</span>
								<div class="smv-btn-add smv-add-cart">
									<a href="#"><span class="smv-text">add to cart</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</li>
					<li class="smv-product-item">
						<div class="smv-item">
							<div class="smv-item-img">
								<a href="#" title=""><span><img src="/assets/images/static/{{product.imgUrl}}"></span></a>
								<div class="smv-sale-off">
									<span>
										<i class="smv-sale-number">50%</i>
										<i>Off</i>
									</span>
								</div>
								<p class="smv-shipping-method">Free shipping</p>
							</div>
							<div class="smv-item-info">
								<h2 class="smv-product-name"><a href="#" title="{{product.name}}">{{product.name}}</a></h2>								
								<div class="smv-item-price">
									<p class="smv-new-price">${{product.newPrice}}</p>
									<p *ngIf="product.oldPrice" class="smv-old-price">was ${{product.oldPrice}}</p>
									<p *ngIf="product.mrspPrice" class="smv-mrsp-price">mrsp ${{product.mrspPrice}}</p>
									<p *ngIf="product.oldPrice" class="smv-save-price">save {{product.newPrice/product.oldPrice | percent:'1.0-0'}}</p>
								</div>
								<span class="smv-item-condition">As low as $50.00</span>
								<div class="smv-btn-add smv-add-cart">
									<a href="#"><span class="smv-text">add to cart</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</li>
					<li class="smv-product-item">
						<div class="smv-item">
							<div class="smv-item-img">
								<a href="#" title=""><span><img src="/assets/images/static/{{product.imgUrl}}"></span></a>
								<div class="smv-sale-off">
									<span>
										<i class="smv-sale-number">50%</i>
										<i>Off</i>
									</span>
								</div>
								<p class="smv-shipping-method">Free shipping</p>
							</div>
							<div class="smv-item-info">
								<h2 class="smv-product-name"><a href="#" title="{{product.name}}">{{product.name}}</a></h2>								
								<div class="smv-item-price">
									<p class="smv-new-price">${{product.newPrice}}</p>
									<p *ngIf="product.oldPrice" class="smv-old-price">was ${{product.oldPrice}}</p>
									<p *ngIf="product.mrspPrice" class="smv-mrsp-price">mrsp ${{product.mrspPrice}}</p>
									<p *ngIf="product.oldPrice" class="smv-save-price">save {{product.newPrice/product.oldPrice | percent:'1.0-0'}}</p>
								</div>
								<span class="smv-item-condition">As low as $50.00</span>
								<div class="smv-btn-add smv-add-cart">
									<a href="#"><span class="smv-text">add to cart</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="smv-clr smv-information">
			<div class="smv-tab-description">
				<div class="smv-box-tab" id="smv-box-tab-1">
					<h2 class="smv-title-tab">Product Details</h2>
					<div class="smv-box-content-tab smv-tab-content">
						<div class="smv-content-text">
							{{product.detail}}
						</div>
					</div>
				</div>
				<!-- end box-tab 1 -->
				<div class="smv-box-tab" id="smv-box-tab-2">
					<h2 class="smv-title-tab">Specification</h2>
					<div class="smv-box-content-tab smv-tab-content">
						<div class="smv-content-text">
							<table>
								<tr>
									<td>Mono-Crystalline</td>
									<td>{{product.specification[0].monoCrystalline}}</td>
								</tr>
								<tr>
									<td>Size</td>
									<td>{{product.specification[0].size}}</td>
								</tr>
								<tr>
									<td>Weight</td>
									<td>{{product.specification[0].weight}}</td>
								</tr>
								<tr>
									<td>Max Power Voltage</td>
									<td>{{product.specification[0].maxPowerVoltage}}</td>
								</tr>
								<tr>
									<td>Max Power Current</td>
									<td>{{product.specification[0].maxPowerCurrent}}</td>
								</tr>
								<tr>
									<td>Open Circuit Voltage</td>
									<td>{{product.specification[0].openCircuitVoltage}}</td>
								</tr>
								<tr>
									<td>Short Circuit Current</td>
									<td>{{product.specification[0].shortCircuitCurrent}}</td>
								</tr>
								<tr>
									<td>Module Efficiency</td>
									<td>{{product.specification[0].moduleEfficiency}}</td>
								</tr>
								<tr>
									<td>Number of Cells</td>
									<td>{{product.specification[0].numberOfCells}}</td>
								</tr>
								<tr>
									<td>Tolerance Wattage</td>
									<td>{{product.specification[0].toleranceWattage}}</td>
								</tr>
								<tr>
									<td>Cables Lenght</td>
									<td>{{product.specification[0].cablesLenght}}</td>
								</tr>
								<tr>
									<td>Allowable Hail Load</td>
									<td>{{product.specification[0].allowableHailLoad}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<!-- end box-tab 2 -->
			</div>
			<!-- end tab-description -->
			<div class="smv-wrap-info">
				<div class="smv-btn-change-tab">
					<ul>
						<li class="active">
							<p data-id="smv-delivery">Delivery</p>
						</li>
						<li>
							<p data-id="smv-reviews">Reviews</p>
						</li>
					</ul>
				</div>
				<div class="smv-tab-content smv-delivery">
					<div class="smv-content-text">
						<p>You can pick-up from warehouse and pay cash here (no Eftpos) :</p>
						<p>19 Grimes Court, Derrimut,3030,Vic</p>
						<p>Monday-Friday 9AM - 2PM</p>
						<p>We ship every day with Au Post eParcel.</p>
						<p>Items will be posted to your eBay/PayPal address. Please make sure that is your correct delivery address as we
							cannot change it. Tracking number will be emailed to you same day we post.</p>
						<p><img src="../../../assets/images/static/MH-img-tab-1.png" title="" alt="" /> <img src="../../../assets/images/static/MH-img-tab-2.png"
							 title="" alt="" /> </p>
					</div>
				</div>
				<div class="smv-tab-content smv-reviews smv-hidden">
					<div class="smv-content-text">
						Reviews
					</div>
				</div>
			</div>
		</div>
	</div>
</div>