<div class="smv-clr smv-best-sellers">
	<div class="smv-title-block">
		<h2>BEST SELLERS</h2>
		<div class="smv-btn-view-all"><a routerLink="category" title="View all">View all<i class="fa fa-caret-right"
				 aria-hidden="true"></i></a></div>
	</div>
	<div class="smv-seller-slider smv-clr ">
		<ul class="smv-product-list">
			<li *ngFor="let product of products | slice:0:4" class="smv-product-item">
				<div class="smv-item">
					<div class="smv-item-img">
						<a routerLink="/detail/{{product.productCode}}" title="{{product.name}}"><span><img alt="{{product.name}}" src="assets/images/static/{{product.imgUrl}}"></span></a>
						<div *ngIf="product.sale" class="smv-sale-off">
							<span>
								<i class="smv-sale-number">50%</i>
								<i>Off</i>
							</span>
						</div>
						<p *ngIf="product.freeShipping" class="smv-shipping-method">Free shipping</p>
					</div>
					<div class="smv-item-info">
						<h2 class="smv-product-name"><a routerLink="/detail/{{product.productCode}}" title="{{product.name}}">{{product.name}}</a></h2>
						<div class="smv-more-info">
							<div class="smv-reviews">
								<span class="smv-stars smv-stars-100"></span><span class="smv-count">(5)</span>
							</div>
						</div>
						<div class="smv-item-price">
							<p class="smv-new-price">${{product.newPrice}}</p>
							<p *ngIf="product.oldPrice" class="smv-old-price">was ${{product.oldPrice}}</p>
							<p *ngIf="product.mrspPrice" class="smv-mrsp-price">mrsp ${{product.mrspPrice}}</p>
							<p *ngIf="product.oldPrice" class="smv-save-price">save {{product.newPrice/product.oldPrice |
								percent:'1.0-0'}}</p>
						</div>
						<span class="smv-item-condition">As low as $50.00</span>
						<div class="smv-btn-add smv-add-cart">
							<a href="#"><span class="smv-text">add to cart</span><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>