/**Font Face**/

/*Raleway regular*/

@font-face {
    font-family: 'Raleway';
    src: url('../font/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Raleway Extrabold*/

@font-face {
    font-family: 'RalewayExtrabold';
    src: url('../font/raleway-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Raleway Bold*/

@font-face {
    font-family: 'RalewayBold';
    src: url('../font/raleway-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Raleway Extralight*/

@font-face {
    font-family: 'RalewayExtralight';
    src: url('../font/raleway-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Raleway Heavy*/

@font-face {
    font-family: 'RalewayHeavy';
    src: url('../font/raleway-heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Raleway Light*/

@font-face {
    font-family: 'RalewayLight';
    src: url('../font/raleway-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Raleway Medium*/

@font-face {
    font-family: 'RalewayMedium';
    src: url('../font/raleway-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Raleway Semibold*/

@font-face {
    font-family: 'RalewaySemibold';
    src: url('../font/raleway-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Raleway Thin*/

@font-face {
    font-family: 'RalewayThin';
    src: url('../font/raleway-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** RESET AND LAYOUT
  ===================================*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    vertical-align: baseline;
    background: transparent;
    color: #333333;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    background: transparent;
    font-family: 'Raleway', sans-serif;
}

*:focus {
    outline: none;
}

input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], input[type="submit"], input[type="search"], button[type="submit"], textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 10px;
}

.input-wrap {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button[type="submit"], input[type="submit"] {
    border: 0;
    cursor: pointer;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}

input::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    /*for firefox*/
    /*for chrome*/
}

/*for IE10*/

/** Default Text
  ===================================*/

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0 0 0 0;
    font-family: 'Raleway', sans-serif;
    color: #333;
    line-height: 1.45em;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}

a, a:visited {
    color: #333;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

a:hover {
    cursor: pointer;
}

b em, b i, strong em, strong i, em b, i b, em strong, i strong {
    font-family: Geneva, sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
}

input[type="radio"] {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proxi-Bold', Geneva, sans-serif;
    font-weight: normal;
    line-height: 1em;
}

.smv-page-header-title, p {
    line-height: 1.35em;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    height: auto !important;
    border: 0;
}

/* all */

::-webkit-input-placeholder {
    color: #333333;
    font-family: 'Raleway', sans-serif;
}

::-moz-placeholder {
    color: #333333;
    font-family: 'Raleway', sans-serif;
}

/* firefox 19+ */

:-ms-input-placeholder {
    color: #333333;
    font-family: 'Raleway', sans-serif;
}

/* ie */

input:-moz-placeholder {
    color: #333333;
    font-family: 'Raleway', sans-serif;
}

.smv-btn-default {
    background: #1b1b1b;
    color: #fff;
    padding: 6px;
    margin: 0;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    cursor: pointer;
}

/* clearfix */

.smv-clr:before, .mv-clr:after {
    content: " ";
    display: table;
}

.mv-clr:after {
    clear: both;
}

/* For IE 6/7 only */

.mv-clr {
    *zoom: 1;
}

p {
    font-size: 14px;
}

select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance: none;
}

/*for IE10*/

select::-ms-expand {
    display: none;
}

/** CSS3 Animation
  ===================================*/

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadebutton {
    0% {
        background: #99cc00;
    }
    50% {
        background: #f7921e;
    }
    100% {
        background: #99cc00;
    }
}

@-moz-keyframes fadebutton {
    0% {
        background: #99cc00;
    }
    50% {
        background: #f7921e;
    }
    100% {
        background: #99cc00;
    }
}

@-webkit-keyframes fadebutton {
    0% {
        background: #99cc00;
    }
    50% {
        background: #f7921e;
    }
    100% {
        background: #99cc00;
    }
}

@-o-keyframes fadebutton {
    0% {
        background: #99cc00;
    }
    50% {
        background: #f7921e;
    }
    100% {
        background: #99cc00;
    }
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.smv-right {
    float: right;
}

.smv-hidden {
    display: none;
}

.smv-show {
    display: inline-block !important;
}

.smv-overlay-bg {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 15;
}

.smv-collapse .smv-overlay-bg {
    display: block;
}

.owl-carousel .owl-item img {
    width: auto;
    max-width: 100%;
    display: inline-block;
}

.smv-wrap {
    margin: 0 auto;
    width: 1160px;
}

@media (max-width: 1170px) {
    .smv-wrap {
        max-width: 1160px;
        margin: 0 10px;
        width: auto;
    }
}

@media screen and (min-width: 993px) {
    .smv-hide-des {
        display: none;
    }
}

/* Mixing & Variable*/

.smv-clr {
    clear: both;
}

.smv-block-content {
    text-align: center;
    clear: both;
    display: inline-block;
    width: 100%;
    float: left;
}

.smv-title-block {
    position: relative;
}

.smv-title-block h2 {
    color: #ef6013;
    font-family: "RalewayMedium", sans-serif;
    font-size: 26px;
    line-height: 28px;
    padding: 40px 0 30px;
    text-transform: uppercase;
}

.smv-reviews {
    margin-top: 10px;
}

.smv-reviews .smv-stars:before {
    font-family: 'FontAwesome';
    letter-spacing: 0px;
    font-size: 14px;
    color: #ffe11b;
}

.smv-reviews .smv-stars.smv-stars-20:before {
    content: '\f005';
}

.smv-reviews .smv-stars.smv-stars-40:before {
    content: '\f005\f005';
}

.smv-reviews .smv-stars.smv-stars-60:before {
    content: '\f005\f005\f005';
}

.smv-reviews .smv-stars.smv-stars-80:before {
    content: '\f005\f005\f005\f005';
}

.smv-reviews .smv-stars.smv-stars-100:before {
    content: '\f005\f005\f005\f005\f005';
}

.smv-reviews .smv-count {
    font-size: 14px;
    color: #a5a5a5;
    font-family: 'Arial';
    margin-left: 2px;
}

/* begin style best seller */

.smv-btn-view-all a {
    color: #4a525f;
    float: right;
    font-family: "RalewayBold", sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 0 0;
    text-decoration: none;
    text-transform: none;
}

.smv-btn-view-all a i {
    color: #ef6013;
    font-weight: 400;
    padding-left: 7px;
}

.smv-title-block .smv-btn-view-all {
    position: absolute;
    top: 41px;
    right: 0;
}

.smv-product-list {
    margin: 0 -22px;
    position: relative;
}

.smv-product-list .smv-product-item {
    width: 25%;
    float: left;
}

.smv-product-list .smv-product-item .smv-item {
    margin: 0 22px;
    text-align: center;
}

.smv-product-list .smv-product-item .smv-item .smv-item-img {
    position: relative;
    float: none;
    margin: 0 auto;
    display: inline-block;
}

.smv-product-list .smv-product-item .smv-item .smv-item-img a {
    float: left;
    border: 1px solid #e1e1e1;
}

.smv-product-list .smv-product-item .smv-item .smv-item-img span {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    float: left;
}

.smv-product-list .smv-product-item .smv-item .smv-item-img span:hover:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #000;
    opacity: 0.4;
    content: "";
}

.smv-product-list .smv-product-item .smv-item .smv-item-img span:hover:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    content: "\f002";
    font-family: 'FontAwesome';
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-top: -15px;
}

.smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off, .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    font-size: 14px;
    font-family: 'RalewayExtrabold', sans-serif;
    line-height: 22px;
    padding: 0 7px;
    text-transform: uppercase;
    color: #fff;
    background: #ef6013;
}

.smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off span:after, .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method span:after {
    content: "SALE";
    color: #fff;
}

.smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off span i, .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method span i {
    display: none;
}

.smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method {
    bottom: 7px;
    top: auto;
    left: auto;
    right: 7px;
    background: #b3b3b3;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info {
    text-align: left;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-product-name a {
    color: #4a525f;
    font-family: "RalewayExtrabold", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    margin: 15px 0 0;
    height: 38px;
    overflow: hidden;
    display: inline-block;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-product-name a:hover {
    color: #9ba4b4;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    height: 45px;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
    display: inline-block;
    width: 50%;
    float: left;
    font-size: 16px;
    line-height: 22px;
    color: #111111;
    font-family: 'Arial';
    font-weight: 400;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-old-price {
    color: #9d9d9d;
    text-decoration: line-through;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
    font-size: 20px;
    font-weight: 700;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price.smv-red {
    color: #da1010;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-condition {
    display: none;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add {
    margin-top: 10px;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a {
    background: #d8dde5;
    border: 0 none;
    border-radius: 0;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a span {
    color: #4a525f;
    font-family: "RalewayExtrabold", sans-serif;
    font-size: 14px;
    line-height: 34px;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a:hover {
    background: #ef6013;
    text-decoration: none;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a:hover span {
    color: #fff;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a i {
    display: none;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-coming-soon a {
    background: #f1f1f1;
    cursor: context-menu;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-coming-soon a:hover {
    background: #f1f1f1;
}

.smv-product-list .smv-product-item .smv-item .smv-item-info .smv-coming-soon a:hover span {
    color: #4a525f;
}

/* end style best seller */

/* begin style tags */

.smv-tags {
    background: #F1F1F1;
    margin-top: 20px;
}

.smv-tags .smv-tags-item {
    width: 25%;
    padding: 15px 0;
    float: left;
    text-align: center;
}

.smv-tags .smv-tags-item .smv-wrap-item {
    padding: 0 10px;
    display: inline-block;
}

.smv-tags .smv-tags-item .smv-wrap-item p {
    display: table-cell;
    vertical-align: middle;
    color: #4a525f;
    font-family: "RalewaySemibold", sans-serif;
    font-size: 24px;
    line-height: 27px;
    margin: 0;
}

.smv-tags .smv-tags-item .smv-wrap-item p span {
    color: #4a525f;
    font-family: "arial";
    font-size: 18px;
    line-height: 21px;
    display: block;
}

.smv-tags .smv-tags-item .smv-wrap-item p img {
    margin-left: 10px;
}

/* end style tags */

/* begin style breakcrumb */
.smv-break-crumb {
    margin: 25px 0;
  }
  .smv-break-crumb ul li {
    display: inline;
  }
  .smv-break-crumb ul li a,
  .smv-break-crumb ul li span {
    color: #231f20;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Arial';
    line-height: 18px;
    position: relative;
  }
  .smv-break-crumb ul li a:after {
    content: "\f105";
    font-family: 'FontAwesome';
    color: #858585;
    font-weight: 400;
    padding: 0 5px 0 8px;
  }
  .smv-break-crumb ul li span {
    color: #858585;
    font-weight: 400;
  }
  /* end style breakcrumb */

  /* RESPONSIVE */
@media screen and (max-width: 1199px) {
    .smv-head-left.smv-logo img {
      width: 300px;
    }
    .smv-tags .smv-tags-item .smv-wrap-item p {
      font-size: 21px;
      line-height: 25px;
    }
    .smv-newsletter .smv-title-newsletter h3 {
      font-size: 16px;
      line-height: 22px;
    }
    .smv-newsletter .smv-title-newsletter h3 span {
      font-size: 12px;
      line-height: 15px;
    }
    .smv-newsletter .smv-form-newsletter form input {
      width: 240px;
    }
    #smv-footer .smv-cate-item .smv-wrap-item {
      padding: 0 20px;
    }
    /* begin style page detail */
    .smv-product-info-main .smv-tags .smv-tags-item {
      min-width: 117px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p {
      font-size: 16px;
      line-height: 16px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p span {
      font-size: 14px;
      line-height: 16px;
    }
    .smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
      width: 238px;
    }
    .smv-block-shipping-estimate p.smv-block-subtitle {
      font-size: 13px;
    }
    .smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
      width: 186px;
    }
    .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a span {
      font-size: 11px;
      line-height: 25px;
    }
    .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
      font-size: 14px;
      line-height: 15px;
    }
    .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-old-price {
      font-size: 12px;
      line-height: 15px;
    }
    /* end style page detail */
  }
  @media screen and (max-width: 1140px) {
    /* begin style page detail */
    .smv-product-info-main .smv-tags .smv-tags-item {
      min-width: 110px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p {
      font-size: 15px;
      line-height: 15px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p span {
      font-size: 13px;
      line-height: 15px;
    }
    /* end style page detail */
    /* begin style page list */
    .smv-wrap-product-list .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
      font-size: 12px;
      line-height: 18px;
    }
    .smv-wrap-product-list .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
      font-size: 16px;
      line-height: 18px;
    }
    /* end style page list */
  }
  @media screen and (max-width: 1024px) {
    .smv-head-left.smv-logo img {
      width: 300px;
    }
    .smv-wrap-cate {
      margin: 0 -10px;
    }
    .smv-wrap-cate .smv-cate-item .smv-wrap-item {
      margin: 0 10px;
    }
    .smv-product-list {
      margin: 0 -10px;
    }
    .smv-product-list .smv-product-item .smv-item {
      margin: 0 10px;
    }
    .smv-list-recently li {
      width: 25%;
    }
    /* begin style page detail */
    .smv-product-info-main .smv-tags .smv-tags-item {
      height: 100px;
      min-width: 99px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p {
      font-size: 14px;
      line-height: 14px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p span {
      font-size: 12px;
      line-height: 14px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p:last-child {
      height: 35px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item:last-child img {
      width: 50px;
    }
    /* end style page detail */
  }
  @media screen and (max-width: 992px) {
    #smv-main-header {
      padding: 10px 0;
      position: relative;
      display: inline-block;
      width: 100%;
    }
    .smv-hide-des {
      float: left;
      margin-top: 13px;
      z-index: 16;
      position: relative;
    }
    .smv-hide-des a i {
      font-size: 28px;
      color: #312f30;
    }
    .smv-collapse .smv-hide-des.smv-nav-bar {
      position: absolute;
      margin: 0;
      z-index: 130;
      right: 10px;
      top: 0;
    }
    .smv-collapse .smv-hide-des.smv-nav-bar a {
      width: 50px;
      height: 50px;
      background: #312f30;
      text-align: center;
      display: inline-block;
    }
    .smv-collapse .smv-hide-des.smv-nav-bar a:before {
      font-size: 28px;
      color: #fff;
      line-height: 50px;
    }
    .smv-head-left.smv-logo {
      margin: 0 0 0 15px;
    }
    .smv-head-left.smv-logo img {
      width: 130px;
    }
    .smv-head-right li {
      display: none;
    }
    .smv-head-right-bottom {
      width: 100%;
      margin: 10px 0 0;
    }
    .smv-head-right-bottom .smv-call-now {
      margin-left: 0;
      position: absolute;
      top: 19px;
      z-index: 1;
    }
    .smv-head-right-bottom .smv-call-now p {
      font-size: 11px;
      line-height: 12px;
    }
    .smv-head-right-bottom .smv-call-now a {
      font-size: 18.5px;
      line-height: 25px;
    }
    .smv-head-right-bottom .smv-search-box {
      width: 100%;
    }
    .smv-head-right-bottom .smv-search-box .smv-input-box {
      width: 100%;
    }
    .smv-category {
      bottom: 0;
      background: none;
      left: -100%;
      margin-top: 0;
      overflow-y: scroll;
      position: absolute;
      top: 0px;
      /*transition: all 0.7s ease 0s;*/
      width: 100%;
      z-index: 100;
      height: auto;
    }
    .smv-category .smv-wrap {
      margin: 0;
      padding: 0 60px 0 0;
    }
    .smv-category .smv-nav {
      width: 100%;
    }
    .smv-category .smv-nav li {
      width: 100%;
      background: #ef6013;
      border-top: 1px solid #f28042;
    }
    .smv-category .smv-nav li:hover {
      background: #ef6013;
    }
    .smv-category .smv-nav li a {
      font-size: 13px;
      color: #fff;
      display: block;
      padding: 12px 40px 12px 15px;
      line-height: 18px;
    }
    .smv-category .smv-nav li div {
      display: none !important;
      position: initial;
      width: 100%;
    }
    .smv-category .smv-nav li div li {
      background: #fff;
      border-top: 1px solid #c1c0c1;
    }
    .smv-category .smv-nav li div li a {
      color: #312f30;
      padding-left: 30px;
    }
    .smv-category .smv-nav li div li:hover {
      background: #fff;
    }
    .smv-category .smv-nav li div li .fa-angle-down {
      color: #312f30;
    }
    .smv-category .smv-nav li div li div.sub-category2 li {
      border-top: 0;
    }
    .smv-category .smv-nav li div li div.sub-category2 li a {
      color: #312f30;
      padding-left: 50px;
    }
    .smv-category .smv-nav li div li:first-child {
      border-top: 0;
    }
    .smv-category .smv-nav li i {
      color: #fff;
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 1;
    }
    .smv-category .smv-nav li i.fa-angle-down {
      display: inline-block;
    }
    .smv-category .smv-nav li.active > div {
      display: inline-block !important;
      float: left;
    }
    .smv-category .smv-nav li.active > i.fa-angle-down {
      transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
    }
    .smv-category .smv-nav li.smv-title-menu {
      background: #fff !important;
      border-top: 0;
    }
    .smv-category .smv-nav li.smv-title-menu a {
      background-image: url(../images/css/MH-bg.png);
      background-position: 0 -184px;
      background-repeat: no-repeat;
      display: block;
      margin-left: 12px;
      text-indent: 0;
      color: #312f30;
      padding: 15px 10px 15px 25px;
    }
    .smv-category .smv-nav li.smv-title-menu a:hover {
      background-color: #fff;
    }
    .smv-collapse .smv-category {
      left: 0;
    }
    .smv-collapse .smv-nav-bar a:before {
      content: "\f00d";
      font-family: 'FontAwesome';
      font-size: 28px;
      color: #312f30;
      padding: 2px 0 0 2px;
    }
    .smv-collapse .smv-nav-bar a i {
      display: none;
    }
    /* begin style page detail */
    .smv-img-gallery .smv-main-image {
      padding: 0 30px 0 0;
    }
    .smv-product-info-main .smv-tags .smv-tags-item {
      min-width: 96px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p {
      font-size: 13px;
      line-height: 13px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p span {
      font-size: 11px;
      line-height: 13px;
    }
    /* end style page detail */
  }
  @media screen and (max-width: 991px) {
    .smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-name {
      height: 30px;
      padding: 3px 30px 3px 10px;
    }
    .smv-wrap-cate .smv-cate-item .smv-wrap-item .smv-cate-name h3 {
      font-size: 13px;
      line-height: 14px;
      height: 30px;
    }
    .smv-wrap-cate .smv-cate-item .smv-wrap-item a.smv-cursor-arrow {
      background-size: 170px;
      background-image: url(../images/css/MH-bg.png);
      background-position: 0 -131px;
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
      right: 5px;
      bottom: 9px;
    }
    .smv-tags .smv-tags-item {
      padding: 12px 0 8px;
    }
    .smv-tags .smv-tags-item .smv-wrap-item p {
      line-height: 18px;
      font-size: 15px;
    }
    .smv-tags .smv-tags-item .smv-wrap-item p span {
      line-height: 18px;
      font-size: 15px;
    }
    .smv-tags .smv-tags-item img {
      width: 24px;
    }
    .smv-tags .smv-tags-item:nth-child(2) img {
      width: 21px;
    }
    .smv-tags .smv-tags-item:nth-child(3) img {
      width: 18px;
    }
    .smv-tags .smv-tags-item:nth-child(4) img {
      width: 27px;
    }
    .smv-product-list {
      margin-top: -20px;
    }
    .smv-product-list .smv-product-item {
      width: 33.3%;
      margin-top: 20px;
    }
    .smv-list-recently li {
      width: 33.3%;
    }
    .smv-our-brands ul li {
      width: 25%;
      margin: 10px 0;
    }
    .smv-newsletter .smv-wrap > div {
      display: block;
      width: 100%;
    }
    .smv-newsletter .smv-form-newsletter {
      padding-left: 50px;
    }
    .smv-newsletter .smv-form-newsletter form input {
      width: 260px;
    }
    .smv-newsletter .smv-follow {
      padding-left: 50px;
      float: left;
    }
    #smv-footer {
      padding: 20px  0 0;
    }
    #smv-footer > .smv-wrap {
      margin: 0;
    }
    #smv-footer .smv-cate-item {
      width: 50% !important;
      padding: 0;
      margin: 0;
    }
    #smv-footer .smv-cate-item .smv-wrap-item {
      padding: 10px 10px 0px 35px !important;
      float: left !important;
    }
    #smv-footer .smv-cate-item.smv-account .smv-wrap-item {
      border: 0;
    }
    #smv-footer .smv-account {
      clear: left;
    }
    #smv-footer .smv-copy-right {
      margin-top: 20px;
    }
    /* begin style page detail */
    .smv-break-crumb {
      margin: 10px 0;
    }
    .smv-product-detail h2.smv-product-name {
      margin-top: 10px;
      font-size: 24px;
      line-height: 30px;
    }
    .smv-product-info-main {
      width: 100%;
    }
    .smv-img-gallery {
      width: 100%;
      text-align: center;
    }
    .smv-img-gallery .smv-main-image {
      padding: 20px 0 0;
    }
    .smv-product-brand {
      border-bottom: 1px solid #cccccc;
      padding-bottom: 25px;
    }
    .smv-product-brand a {
      float: right;
    }
    .smv-tab-description .smv-box-tab {
      width: 100%;
    }
    .smv-tab-description #smv-box-tab-1 .smv-content-text {
      margin: 0;
    }
    .smv-tab-description #smv-box-tab-2 {
      margin-top: 10px;
    }
    .smv-tab-description #smv-box-tab-2 .smv-content-text,
    .smv-tab-description #smv-box-tab-2 .smv-title-tab {
      margin-left: 0;
    }
    .smv-btn-change-tab ul {
      margin-top: 10px;
    }
    /* end style page detail */
    /* begin style page list */
    .smv-sidebar-main {
      margin-top: 10px;
      width: 100%;
    }
    .smv-sidebar-main .smv-filter-header {
      margin: 0 0 10px;
      display: block;
    }
    .smv-sidebar-main .smv-filter-header .smv-filter-title {
      padding: 12px 18px;
      color: #fff;
      background: #4a525f;
      text-transform: none;
      position: relative;
    }
    .smv-sidebar-main .smv-filter-header .smv-filter-title:after {
      content: "\f0d7";
      font-family: 'FontAwesome';
      position: absolute;
      top: 13px;
      right: 15px;
      font-size: 16px;
    }
    .smv-sidebar-main .smv-filter-header.active .smv-filter-title:after {
      content: "\f0d8";
      top: 11px;
    }
    .smv-sidebar-main .smv-filter-list {
      display: none;
    }
    .smv-sidebar-main .smv-filter-group {
      margin-bottom: 10px;
    }
    .smv-sidebar-main .smv-filter-group .smv-title {
      position: relative;
    }
    .smv-sidebar-main .smv-filter-group .smv-title:after {
      content: "\f0d8";
      font-family: 'FontAwesome';
      position: absolute;
      top: 13px;
      right: 15px;
      font-size: 16px;
      color: #fff;
    }
    .smv-sidebar-main .smv-filter-group .smv-title.active:after {
      content: "\f0d7";
      top: 15px;
    }
    .smv-main {
      width: 100%;
    }
    .smv-main .smv-main-container {
      margin: 20px 0 0;
    }
    .smv-wrap-product-list .smv-product-list .smv-product-item .smv-item {
      border-right: 1px solid #efefef;
      border-top: 1px solid #efefef;
    }
    .smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(4) .smv-item {
      border-top: 1px solid #efefef;
      padding-top: 25px;
    }
    .smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(4n) .smv-item {
      border-right: 1px solid #efefef;
    }
    .smv-wrap-product-list .smv-product-list .smv-product-item:nth-child(3n) .smv-item {
      border-right: 0;
    }
    /* end style page list */
  }
  @media screen and (max-width: 767px) {
    .smv-head-right {
      margin-top: 9px;
    }
    .smv-block-banner .owl-dots {
      bottom: 6px;
    }
    .smv-title-block h2 {
      padding: 30px 0 27px;
    }
    .smv-title-block .smv-btn-view-all {
      top: 31px;
    }
    .smv-wrap-cate {
      margin: 0 -8px;
    }
    .smv-wrap-cate .smv-cate-item {
      margin-bottom: 10px;
    }
    .smv-wrap-cate .smv-cate-item .smv-wrap-item {
      margin: 0 8px;
    }
    .smv-tags {
      margin-top: 10px;
    }
    .smv-tags .smv-tags-item .smv-wrap-item {
      padding: 0 5px;
    }
    .smv-tags .smv-tags-item .smv-wrap-item p {
      font-size: 13px;
      line-height: 16px;
    }
    .smv-tags .smv-tags-item .smv-wrap-item p span {
      font-size: 10.75px;
      line-height: 12px;
    }
    .smv-new-arrivals-slider,
    .smv-seller-slider {
      padding: 0 30px;
    }
    .owl-carousel.smv-product-list .smv-product-item {
      width: 100%;
    }
    .smv-product-list {
      margin: 0;
    }
    .smv-product-list .smv-product-item {
      margin: 0;
    }
    .smv-product-list .smv-product-item .smv-item {
      margin: 0;
    }
    .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off,
    .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-sale-off span,
    .smv-product-list .smv-product-item .smv-item .smv-item-img .smv-shipping-method {
      font-size: 11px;
      line-height: 17px;
    }
    .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-product-name a {
      font-size: 12px;
      line-height: 17px;
      height: 34px;
    }
    .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
      font-size: 13px;
      line-height: 18px;
    }
    .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
      font-size: 16px;
      line-height: 18px;
    }
    .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add {
      margin-top: 0;
    }
    .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a span {
      font-size: 12px;
      line-height: 32px;
    }
    .owl-controls .owl-nav div {
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -15px;
      cursor: pointer;
    }
    .owl-controls .owl-nav div i {
      font-size: 50px;
      line-height: 30px;
    }
    .owl-controls .owl-nav div.owl-prev-product {
      left: -30px;
    }
    .owl-controls .owl-nav div.owl-next-product {
      right: -30px;
    }
    .smv-newsletter .smv-title-newsletter h3 {
      font-size: 18px;
      line-height: 24px;
    }
    .smv-newsletter .smv-title-newsletter h3 span {
      font-size: 14px;
      line-height: 17px;
    }
    .smv-newsletter .smv-form-newsletter form input {
      width: 270px;
    }
    .smv-copy-right .smv-footer-copy-right p span {
      font-size: 12px;
      line-height: 19px;
    }
    /* Begin style page detail */
    .smv-product-add-form .smv-quantity .smv-stock {
      width: 50%;
      float: right;
      text-align: center;
    }
    .smv-product-add-form .smv-quantity .smv-stock a {
      padding-left: 0;
    }
    .smv-product-add-form .smv-actions p {
      width: 50%;
      float: left;
    }
    .smv-product-add-form .smv-actions p:last-child {
      text-align: center;
    }
    .smv-product-add-form .smv-actions p a {
      padding-left: 0;
    }
    .smv-product-info-main .smv-tags .smv-tags-item {
      height: 110px;
      min-width: 113px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p {
      font-size: 16px;
      line-height: 16px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p span {
      font-size: 14px;
      line-height: 14px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p:last-child {
      height: 45px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item img {
      width: auto;
    }
    .smv-product-info-main .smv-tags .smv-tags-item:last-child .smv-wrap-item {
      padding: 15px 31px 0;
    }
    .smv-product-info-main .smv-tags .smv-tags-item:last-child img {
      width: 60px;
    }
    .smv-block-shipping-estimate .smv-postage {
      padding: 20px 25px;
    }
    .smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
      width: 267px;
    }
    .smv-block-shipping-estimate p.smv-block-subtitle {
      font-size: 14px;
    }
    .smv-you-might-also-like .smv-product-list {
      margin: -20px -10px 0;
    }
    .smv-you-might-also-like .smv-product-list .smv-product-item {
      width: 20%;
    }
    .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item {
      margin: 0 10px;
    }
    .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img {
      width: 100%;
    }
    .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-img a {
      margin: 0;
    }
    .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item .smv-item-info {
      display: none;
    }
    /* end style page detail */
  }
  @media screen and (max-width: 640px) {
    /* begin style page detail */
    .smv-product-add-form .smv-actions p button {
      width: 100%;
    }
    /* end style page detail */
  }
  @media screen and (max-width: 639px) {
    .smv-head-right-bottom .smv-call-now {
      display: none;
    }
    .smv-head-right .smv-mini-cart {
      padding: 6px 7px 6px 11px;
    }
    .smv-head-right .smv-mini-cart a::after {
      display: none;
    }
    .smv-block-banner .owl-dots {
      bottom: 4px;
    }
    .smv-block-banner .owl-dots .owl-dot span {
      width: 12px;
      height: 12px;
      margin: 0 3px;
    }
    .smv-title-block h2 {
      font-size: 24px;
      line-height: 26px;
    }
    .smv-wrap-cate {
      margin: 0 -3px;
    }
    .smv-wrap-cate .smv-cate-item {
      width: 50%;
    }
    .smv-wrap-cate .smv-cate-item .smv-wrap-item {
      margin: 0 3px;
    }
    .smv-tags {
      padding: 10px 0;
    }
    .smv-tags .smv-tags-item {
      width: 50%;
    }
    .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
      font-size: 11px;
      line-height: 16px;
    }
    .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
      font-size: 14px;
      line-height: 16px;
    }
    .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-btn-add a span {
      font-size: 10.12px;
      line-height: 30px;
    }
    .smv-list-recently {
      margin: -10px -5px 0;
    }
    .smv-list-recently li {
      width: auto;
      margin: 10px 5px 0;
    }
    .smv-list-recently li .smv-text {
      display: none;
    }
    .smv-our-brands {
      margin-top: 30px;
    }
    .smv-our-brands .smv-title-block .smv-btn-view-all {
      display: none;
    }
    .smv-our-brands .smv-brands-content {
      padding: 0 30px;
    }
    .smv-our-brands ul {
      margin: 0;
    }
    .smv-our-brands ul li {
      width: 100%;
      text-align: center;
    }
    .smv-our-brands .owl-controls .owl-nav div {
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -14px;
      cursor: pointer;
    }
    .smv-our-brands .owl-controls .owl-nav div i {
      font-size: 50px;
    }
    .smv-our-brands .owl-controls .owl-nav div.owl-prev-brand {
      left: -30px;
    }
    .smv-our-brands .owl-controls .owl-nav div.owl-next-brand {
      right: -30px;
    }
    .smv-newsletter .smv-wrap {
      margin: 0 20px;
    }
    .smv-newsletter .smv-title-newsletter h3 {
      background: none;
      padding: 0;
      font-size: 17px;
    }
    .smv-newsletter .smv-form-newsletter {
      padding-left: 0;
    }
    .smv-newsletter .smv-form-newsletter form input {
      width: 220px;
    }
    .smv-newsletter .smv-follow {
      padding-left: 0;
    }
    #smv-footer .smv-cate-item {
      width: 100% !important;
    }
    #smv-footer .smv-cate-item .smv-wrap-item {
      padding: 10px 20px !important;
      border: 0;
      min-height: 10px;
    }
    .smv-copy-right {
      padding: 20px 10px;
    }
    .smv-copy-right .smv-footer-copy-right {
      width: 100%;
      padding-top: 20px;
    }
    .smv-copy-right .smv-footer-copy-right p {
      width: 100%;
      text-align: left;
    }
    .smv-copy-right .smv-footer-copy-right a {
      float: left;
      margin-top: 10px;
    }
    /* begin style page detail */
    .smv-product-detail h2.smv-product-name {
      font-size: 22px;
      line-height: 28px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item {
      min-width: 87px;
      height: 100px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p {
      font-size: 13px;
      line-height: 13px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p span {
      font-size: 11px;
      line-height: 13px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item p:last-child {
      height: 35px;
    }
    .smv-product-info-main .smv-tags .smv-tags-item:last-child .smv-wrap-item {
      padding: 15px 5px 0;
    }
    .smv-product-info-main .smv-tags .smv-tags-item:last-child img {
      width: 50px;
    }
    .smv-product-price p {
      display: inline-block;
      width: 100%;
    }
    .smv-product-price p span {
      width: 49%;
      min-width: 10px;
    }
    .smv-block-shipping-estimate p.smv-block-subtitle {
      width: 100%;
      padding: 0 0 15px;
    }
    .smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
      width: 283px;
    }
    .smv-you-might-also-like .smv-product-list {
      margin: -10px -5px 0;
    }
    .smv-you-might-also-like .smv-product-list .smv-product-item {
      margin-top: 10px;
    }
    .smv-you-might-also-like .smv-product-list .smv-product-item .smv-item {
      margin: 0 5px;
    }
    /* end style page detail */
    /* begin style page list */
    .smv-wrap-product-list .smv-product-list {
      margin: 0 -5px;
    }
    .smv-wrap-product-list .smv-product-list .smv-product-item {
      width: 50%;
    }
    .smv-wrap-product-list .smv-product-list .smv-product-item .smv-item {
      border: 0 !important;
      padding: 5px 5px !important;
      margin: 0;
    }
    .smv-tool-bar .smv-pages {
      display: none;
    }
    /* end style page list */
  }
  @media screen and (max-width: 479px) {
    .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price p {
      font-size: 11px !important;
      line-height: 18px !important;
    }
    .smv-product-list .smv-product-item .smv-item .smv-item-info .smv-item-price .smv-new-price {
      font-size: 14px !important;
      line-height: 18px !important;
    }
    /* begin stype page details */
    .smv-product-brand span {
      width: 50%;
      display: inline-block;
    }
    .smv-product-brand img {
      float: right;
      padding: 0;
    }
    .smv-product-brand a {
      display: inline-block;
      margin: 20px 0 0;
      clear: right;
    }
    .smv-product-add-form .smv-quantity {
      margin: 10px 0 0;
    }
    .smv-product-add-form .smv-quantity .smv-stock {
      width: 100%;
      margin: 20px 0 0;
    }
    .smv-product-add-form .smv-actions p {
      width: 100%;
    }
    .smv-product-add-form .smv-actions p a {
      padding: 0;
      margin: 20px 0 0;
    }
    .smv-product-info-main .smv-tags {
      padding: 0;
      margin: 10px  0 0;
      text-align: center;
    }
    .smv-product-info-main .smv-tags .smv-wrap-tags .smv-tags-item {
      width: 31%;
      margin: 10px 0 0;
      float: left;
    }
    .smv-product-info-main .smv-tags .smv-wrap-tags .smv-tags-item:nth-child(2) {
      margin: 10px auto 0 0;
      float: none;
    }
    .smv-product-info-main .smv-tags .smv-wrap-tags .smv-tags-item:nth-child(3) {
      float: right;
    }
    .smv-product-info-main .smv-tags .smv-wrap-tags .smv-tags-item:last-child {
      width: 100%;
    }
    .smv-block-shipping-estimate p.smv-block-subtitle {
      font-size: 13px;
    }
    .smv-block-shipping-estimate .smv-shipping-estimation-form .smv-country {
      width: 123px;
    }
    .smv-you-might-also-like .smv-product-list .smv-product-item {
      width: 33.3%;
    }
    /* end stype page details */
  }